<div class="import-shipping">
  <div class="header">
    <h4>Upload CSV File:</h4>
  </div>
  <form class="form offer"  id="offer" action="<?php echo $block->getUrl('flordelcampo_prodreview/test/Import')?>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="form_key" value="<?php echo $block->getFormKey() ?>" />
    <input type="file" required class="required-entry" name="file_upload" />
    <br><br>
    <div class="actions-toolbar">
            <div class="primary">
                    <button id="uploadCsv" type="submit" title="Submit" class="action submit primary">
                        <span>Upload Csv</span>
                    </button>
            </div>

        </div>
  </form>
</div>
