<?php

/**
 * @var $block Location;
 */

use Flordelcampo\VendorRegistration\Block\Adminhtml\VendorLocation\Edit\Tabs\Location;

$vendorId = $block->getVendorId();
$locationCollection = $block->getVendorLocationCollectionByVendorId();
$regionArray = $block->getAllRegions();
$countryArray = $block->getAllCountries();

?>
<style>
    .admin__scope-old .fieldset-wrapper, .admin__scope-old .fieldset {
        background: #ffffff;
        border: 0;
        margin: 0;
        padding: 5px 0 0px;
        position: relative;
    }

    .vendor-location {
        margin-top: 1%;
        float: left;
        margin-right: 1%;
        margin-bottom: 2%;
        width: 25%;
        cursor: pointer;
        padding: 2% 3% 1% 4%;
        background: lightcyan;
        border: 1px solid gainsboro;
    }

    .active {
        background-color: black;
        color: #fff;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 2px solid none;
        background-color: #f1f1f1;
        margin-bottom: 1%;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    .tab button:hover {
        background-color: #ddd;
    }

    .tab button.active {
        background-color: #ccc;
        color: black;
    }

    .vendor-user-setting-table-head {
        overflow-x: scroll;
    }

    .vendor-logistic-setting-table-head {
        overflow-x: scroll;
    }
</style>

<div class="row fieldset-wrapper location-title">
    <div class="fieldset-wrapper-title">
        <span class="title"><?php /* @escapeNotVerified */
            echo __('Vendor Locations') ?></span>
    </div>
</div>
<div class="row add-new-location-div" style="display:block;width: 69%">
    <button type="button" style="margin-bottom: 1%;" class="save primary add-new-location-button">Add New
        Location
    </button>
    <button type="button" class="close-add-new-location-button" style="margin-left: 4%;display: none">Close</button>
    <form id="location-add-new-form">
        <div class="vendor-new-location-container" style="display: none"></div>
    </form>
</div>
<div class="row vendor-location-store-grid-div">
    <?php foreach ($locationCollection as $oneLocation): ?>
        <div class="vendor-location" id="<?= $oneLocation->getId() ?>">
            <p><?= $oneLocation->getLocName(); ?></p>
            <p><?= $oneLocation->getLocEmail(); ?></p>
            <p><?= $oneLocation->getLocAddress() . ',' . $oneLocation->getLocStreet() ?></p>
            <p><?= $oneLocation->getLocCity() . ' , ' . $regionArray[$oneLocation->getLocState()]; ?></p>
            <p><?= 'Ph: ' . $oneLocation->getLocPhone() . ' Zip :' . $oneLocation->getLocPostcode() ?></p>
        </div>
    <?php endforeach; ?>
</div>
<div class="vendor-location-tabs-container">
    <div class="tab">
        <button class="tab-links" id="first-tab-content" data-tab-id="location-settings-tab">Location Settings</button>
        <button class="tab-links" data-tab-id="vendor-logistics-tab">Vendor Logistics</button>
        <button class="tab-links" data-tab-id="vendor-user-setting-tab">User Setting</button>
        <!--<button class="tab-links" data-tab-id="vendor-product-offer-tab">Product Offer</button>
        <button class="tab-links" data-tab-id="vendor-ups-info-tab">UPS Info</button>-->
    </div>
    <div id="location-settings-tab" style="width: 66%" class="tab-content">
        <form id="vendor-location-update-form">
            <div class="vendor-location-setting-data"></div>
        </form>
    </div>
    <div id="vendor-logistics-tab" class="tab-content">
        <div class="vendor-logistic-setting-table-head"></div>
    </div>
    <div id="vendor-user-setting-tab" class="tab-content">
        <div class="vendor-user-setting-table-head"></div>
    </div>
    <!--<div id="vendor-product-offer-tab" class="tab-content">
        <p>offer</p>
    </div>
    <div id="vendor-ups-info-tab" class="tab-content">
        <p>ups</p>
    </div>-->
</div>
<script type="text/javascript">
    let ADD_NEW_LOCATION_FORM_HTML_URL = '<?= $block->getAddNewLocationFormUrl(); ?>';
    let SAVE_LOCATION_FORM_URL = '<?= $block->getSaveLocationFormUrl(); ?>';
    let RETRIEVE_LOCATION_INFO_URL = '<?= $block->getRetrieveLocationFormUrl(); ?>';
    let UPDATE_LOCATION_FORM_URL = '<?= $block->getUpdateLocationFormUrl(); ?>';
    let UPDATE_USER_SETTING_URL = '<?= $block->getUpdateUserUrl(); ?>';
    let SAVE_USER_SETTING_URL = '<?= $block->getSaveUserUrl(); ?>';
    let SAVE_LOGISTICS_SETTING_URL = '<?= $block->getSaveLogisticsUrl(); ?>';
    let UPDATE_LOGISTICS_SETTING_URL = '<?= $block->getUpdateLogisticUrl(); ?>';
    let VENDOR_ID = '<?= $vendorId; ?>';
    require(
        [
            'jquery',
            'mage/mage'
        ],
        function ($) {
            $(document).ready(function () {
                $('.tab-content,.tab').hide();
            });

            $(".add-new-location-button").click(function (e) {
                $('.vendor-new-location-container').hide();
                $('.vendor-new-location-container').empty();
                $('.close-add-new-location-button').show();
                $.ajax({
                    url: ADD_NEW_LOCATION_FORM_HTML_URL,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'vendor_id': VENDOR_ID
                    },
                    showLoader: true,
                    complete: function (response) {
                        let resultData = response.responseJSON;
                        if (resultData.status === true) {
                            let addNewLocationFormHtml = resultData.new_logistic_form_html;
                            $(".vendor-new-location-container").append(addNewLocationFormHtml);
                            $('.vendor-new-location-container').show();
                            ajaxComplete();
                        } else {
                            alert(resultData.message);
                        }
                    }
                });
            });

            $(".close-add-new-location-button").click(function (e) {
                $('.vendor-new-location-container,.close-add-new-location-button').hide();
            });

            $(".vendor-location").click(function (e) {
                /* hide tab content and remove active class*/
                $('.tab-content,.tab').hide();
                $(".tab-links").removeClass("active");
                $(this).addClass("active");
                $(".vendor-location").not(this).removeClass("active");

                /*
                 Remove all tab content
                 */
                $(".vendor-location-setting-data").empty();
                $(".vendor-user-setting-table-head").empty();
                $(".vendor-logistic-setting-table-head").empty();

                let locationId = $(this).attr("id");
                $('.vendor-new-location-container,.close-add-new-location-button').hide();

                $.ajax({
                    url: RETRIEVE_LOCATION_INFO_URL,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'location_id': locationId,
                        'vendor_id': VENDOR_ID
                    },
                    showLoader: true,
                    complete: function (response) {
                        let resultData = response.responseJSON;
                        if (resultData.status === true) {
                            let locationSettingHtml = resultData.location_setting_html;
                            let user_setting_html = resultData.user_setting_html;
                            let logistic_setting_html = resultData.logistic_setting_html;
                            $(".vendor-location-setting-data").append(locationSettingHtml);
                            $(".vendor-user-setting-table-head").append(user_setting_html);
                            $(".vendor-logistic-setting-table-head").append(logistic_setting_html);
                            $('.tab,#location-settings-tab').show();
                            $('#first-tab-content').addClass("active");
                            ajaxComplete();
                        } else {
                            alert(resultData.message);
                        }
                    }
                });
            });

            $(".tab-links").click(function (e) {
                $('.tab-content').hide();
                $(this).addClass("active");
                $(".tab-links").not(this).removeClass("active");
                let currentTabId = $(this).data('tab-id');
                $('#' + currentTabId).show();
                e.preventDefault();
            });

            function ajaxComplete() {
                $(".save-new-location-button").click(function (e) {
                    let dataForm = $('#location-add-new-form');
                    dataForm.mage('validation', {});
                    if (dataForm.valid()) {
                        /* let data = $('#location-add-new-form').serialize();*/
                        let formData = $('#location-add-new-form').serializeArray();
                        $.ajax({
                            url: SAVE_LOCATION_FORM_URL,
                            type: 'POST',
                            dataType: 'json',
                            data: formData,
                            showLoader: true,
                            complete: function (response) {
                                let resultData = response.responseJSON;
                                if (resultData.status === true) {
                                    alert(resultData.message);
                                    location.reload();
                                } else {
                                    alert(resultData.message);
                                }
                            }
                        });
                    } else {
                        return false;
                    }
                });

                $(".update-location-button").click(function (e) {
                    let dataForm = $('#vendor-location-update-form');
                    dataForm.mage('validation', {});
                    if (dataForm.valid()) {
                        /* let data = $('#location-add-new-form').serialize();*/
                        let formData = $('#vendor-location-update-form').serializeArray();
                        $.ajax({
                            url: UPDATE_LOCATION_FORM_URL,
                            type: 'POST',
                            dataType: 'json',
                            data: formData,
                            showLoader: true,
                            complete: function (response) {
                                let resultData = response.responseJSON;
                                if (resultData.status === true) {
                                    alert(resultData.message);
                                    location.reload();
                                } else {
                                    alert(resultData.message);
                                }
                            }
                        });
                    } else {
                        return false;
                    }
                });

                $(".update-vendor-user-button").click(function (e) {
                    let currentEntityId = $(this).data('user-entity-id');
                    let inputs = $(".update-vendor-user-" + currentEntityId);
                    let updateVendorUserData = [];
                    let isValid = 1;
                    for (let i = 0; i < inputs.length; i++) {
                        let attr_name = $(inputs[i]).attr('name');
                        let value = $(inputs[i]).val();
                        if ($(inputs[i]).attr('required')) {
                            if (value === null || value === '') {
                                alert('Please Enter ' + $(inputs[i]).attr('title'));
                                isValid = 0;
                                return false;
                            }
                        }
                        updateVendorUserData.push({
                            name: attr_name,
                            value: value
                        });
                    }
                    if (isValid === 1) {
                        $.ajax({
                            url: UPDATE_USER_SETTING_URL,
                            type: 'POST',
                            dataType: 'json',
                            data: updateVendorUserData,
                            showLoader: true,
                            complete: function (response) {
                                let resultData = response.responseJSON;
                                if (resultData.status === true) {
                                    alert(resultData.message);
                                    location.reload();
                                } else {
                                    alert(resultData.message);
                                }
                            }
                        });
                    }
                });

                $(".save-vendor-user-button").click(function (e) {
                    let inputs = $(".add-new-vendor-user");
                    let addNewVendorUserData = [];
                    let isValid = 1;
                    for (let i = 0; i < inputs.length; i++) {
                        let attr_name = $(inputs[i]).attr('name');
                        let value = $(inputs[i]).val();
                        if ($(inputs[i]).attr('required')) {
                            if (value === null || value === '') {
                                alert('Please Enter ' + $(inputs[i]).attr('title'));
                                isValid = 0;
                                return false;
                            }
                        }
                        addNewVendorUserData.push({
                            name: attr_name,
                            value: value
                        });
                    }
                    if (isValid === 1) {
                        $.ajax({
                            url: SAVE_USER_SETTING_URL,
                            type: 'POST',
                            dataType: 'json',
                            data: addNewVendorUserData,
                            showLoader: true,
                            complete: function (response) {
                                let resultData = response.responseJSON;
                                if (resultData.status === true) {
                                    alert(resultData.message);
                                    location.reload();
                                } else {
                                    alert(resultData.message);
                                }
                            }
                        });
                    }

                });

                $(".save-new-vendor-logistic-button").click(function (e) {
                    let inputs = $(".save-new-vendor-logistic");
                    let addNewVendorLogisticsData = [];
                    let isValid = 1;
                    for (let i = 0; i < inputs.length; i++) {
                        let attr_name = $(inputs[i]).attr('name');
                        let value = $(inputs[i]).val();
                        let attr_type = $(inputs[i]).attr('type');
                        if ($(inputs[i]).attr('required')) {
                            if (value === null || value === '') {
                                alert('Please Enter ' + $(inputs[i]).attr('title'));
                                isValid = 0;
                                return false;
                            }
                        }
                        if (attr_type === 'checkbox') {
                            value = '0';
                            if ($('.' + attr_name).is(":checked")) {
                                value = '1';
                            }
                        }
                        addNewVendorLogisticsData.push({
                            name: attr_name,
                            value: value
                        });
                    }
                    if (isValid === 1) {
                        $.ajax({
                            url: SAVE_LOGISTICS_SETTING_URL,
                            type: 'POST',
                            dataType: 'json',
                            data: addNewVendorLogisticsData,
                            showLoader: true,
                            complete: function (response) {
                                let resultData = response.responseJSON;
                                if (resultData.status === true) {
                                    alert(resultData.message);
                                    location.reload();
                                } else {
                                    alert(resultData.message);
                                }
                            }
                        });
                    }

                });

                $(".update-vendor-logistic-button").click(function (e) {
                    let currentEntityId = $(this).data('logistic-entity-id');
                    let inputs = $(".update-vendor-logistic-" + currentEntityId);
                    let updateVendorLogisticsData = [];
                    let isValid = 1;
                    for (let i = 0; i < inputs.length; i++) {
                        let attr_name = $(inputs[i]).attr('name');
                        let value = $(inputs[i]).val();
                        let attr_type = $(inputs[i]).attr('type');
                        if ($(inputs[i]).attr('required')) {
                            if (value === null || value === '') {
                                alert('Please Enter ' + $(inputs[i]).attr('title'));
                                isValid = 0;
                                return false;
                            }
                        }
                        if (attr_type === 'checkbox') {
                            value = '0';
                            let uniQueClass = "update-vendor-logistic-" + currentEntityId + '-' + attr_name;
                            if ($('.' + uniQueClass).is(":checked")) {
                                value = '1';
                            }
                        }
                        updateVendorLogisticsData.push({
                            name: attr_name,
                            value: value
                        });
                    }
                    if (isValid === 1) {
                        $.ajax({
                            url: UPDATE_LOGISTICS_SETTING_URL,
                            type: 'POST',
                            dataType: 'json',
                            data: updateVendorLogisticsData,
                            showLoader: true,
                            complete: function (response) {
                                let resultData = response.responseJSON;
                                if (resultData.status === true) {
                                    alert(resultData.message);
                                    location.reload();
                                } else {
                                    alert(resultData.message);
                                }
                            }
                        });
                    }
                });


            }
        });
</script>