<?php
/**
 * @var Ups $block ;
 */

use Flordelcampo\Dashboards\Block\Ups;

$shipFromDate = $block->getDefaultFromDate();
$shipToDate = $block->getDefaultToDate();
$deleteUrl = $block->deleteOrderByIncrementIdUrl();
$amazonPriceUpdateUrl = $block->getPriceUpdateUrl();

$cronUrl = $this->getBaseUrl() . 'helloworld';
$amazonCancelledUrl = $block->getAmazonCancelledOrderUrl();
$orderDeleteUrl = $block->getDeleteOrderUrl();
$offerInventoryDecrementCronUrl = $block->getOfferInventoryUpdateCronUrl();
$allVendor = $block->getAllVendors();
$allVendorLocFarms = $block->getAllVendorsLocFarm();
$orderstateUrl = $block->getStateOrderUrl();
$boxstateUrl = $block->getBoxStateUrl();
$allMethod = $block->allShippingMethodsArray();
$updateVendorLocationUrl = $block->updateVendorLocationUrl();
$UpdateShipUrl = $block->updateShip();
$UpdateLabelUrl = $block->updateBoxUrl();
$uploadUrl = $block->getUploadUrl();

?>
<div class="row container">
    <div class="title">
        <h2>Cron Buttons</h2>
    </div>
    <div class="cron amazon-price-update">
        <form action='<?= $amazonPriceUpdateUrl ?>' method="post" target="_blank">
            <input name="form_key" class="admin__control-text" type="hidden" value='<?= $block->getFormKey() ?>'>
            <input type="text" class="admin__control-text date-picker" aria-required='true' name="from_date"
                   value="<?= $shipFromDate ?>">
            <input type="text" class="admin__control-text date-picker" aria-required='true' name="to_date"
                   value="<?= $shipToDate ?>">
            <input type="submit" value="UPDATE PRICE CRON" class="action-default scalable">
        </form>
    </div>
    <div class="cron input-fields amazon-cron-url">
        <label>Amazon Order Creation Cron</label>
        <a type="button" href="<?= $cronUrl; ?>" target="_blank" class="action-default scalable">Run</a>
    </div>

    <div class="cron input-fields amazon-cron-url">
        <label>Amazon Cancelled Order Update Cron</label>
        <a type="button" href="<?= $amazonCancelledUrl; ?>" target="_blank" class="action-default scalable">Run</a>
    </div>

    <div class="cron input-fields amazon-cron-url">
        <label>Amazon Delete Duplicate Order Cron</label>
        <a type="button" href="<?= $orderDeleteUrl; ?>" target="_blank" class="action-default scalable">Run</a>
    </div>
    <div class="cron input-fields amazon-cron-url">
        <label>Offers Inventory Decrement Cron</label>
        <a type="button" href="<?= $offerInventoryDecrementCronUrl; ?>" target="_blank" class="action-default scalable">Run</a>
    </div>
</div>
<div class="row container">
    <div class="title">
        <h2>Upload Files</h2>
    </div>
    <div class="upload">
        <h4>Insert Hard Good Rows and Delete Invalid Records</h4>
        <form style="display:block" action='<?= $uploadUrl; ?>' method="post"
              enctype="multipart/form-data" target="_blank">
            <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
            <input type="file" class="file-upload-div" name="hard_good" required="required">
            <input type="submit" value="Insert Hard Good Rows" class="action-default scalable">
        </form>
    </div>
    <div class="update-order-status title">
        <h2>Sync Order - Item Status</h2>
    </div>
    <div class="update-order-status">
        <form style="display:block" action='<?= $uploadUrl; ?>' method="post" target="_blank">
            <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
            <input name="sync_order_status" type="hidden" value="yes">
            <input type="text" autocomplete="off" placeholder="from date" class="admin__control-text date-picker"
                   name="from_date">
            <input type="text" autocomplete="off" placeholder="to date" class="admin__control-text date-picker"
                   name="to_date">
            <label>OR</label>
            <input style="height: 32px;width: 37%;" placeholder="comma separated order numbers"
                   type="text" name="order_ids">
            <input type="submit" value="Sync Order Status" class="action-default scalable">
        </form>
    </div>
    <div class="update-order-status title">
        <h2>Update Amazon Order Price</h2>
    </div>
    <div class="upload">
        <form style="display:block" action='<?= $uploadUrl; ?>' method="post"
              enctype="multipart/form-data" target="_blank">
            <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
            <input type="file" class="file-upload-div" name="update_amazon_price" required="required">
            <input type="submit" value="Update Amazon Order Price" class="action-default scalable">
        </form>
    </div>
</div>
<div class="row container">
    <div class="delete-order status-update">
        <div class="title">
            <h2>Delete Orders</h2>
            <span>( Enter comma separated order ids ex: 100001,1000003 )</span>
        </div>
        <div class="delete-input-box" style="margin-top: 1%;">
            <form action='<?= $deleteUrl ?>' method="post">
                <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
                <input style="height: 32px;width: 37%;" required="required" type="text" name="order_ids">
                <input type="submit" value="Delete Orders" class="action-default scalable">
            </form>
        </div>
    </div>
    <!---------------------------------ORDER STATE CHANGE FORM---------------------------->

    <div class="order-status status-update">
        <div class="title">
            <h2>Update Order Status </h2>
            <span>( Enter comma separated order ids ex: 2000001136,2000001137 )</span>
        </div>
        <div class="delete-input-box" style="margin-top: 1%;">
            <form action='<?= $orderstateUrl ?>' method="post" target="_blank">
                <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>

                <label class="admin__field-label">Change Status </label>
                <select name="change_status" id="channel-id" class="admin__control-select sales-type-dropdown">
                    <option value="processing">processing</option>
                    <option value="pending">pending</option>
                    <option value="complete">complete</option>

                </select>

                <input style="height: 32px;width: 37%;" type="text" name="increment_ids">

                <input type="submit" value="Submit" class="action-default scalable">
            </form>
        </div>
    </div>

    <!---------------------------------BOX STATE CHANGE FORM---------------------------->

    <div class="box-status status-update">
        <div class="title">
            <h2>Update Box Status </h2>
            <span>( Enter comma separated box ids ex: 959_1,959_2 )</span>
        </div>
        <div class="delete-input-box" style="margin-top: 1%;">
            <form action='<?= $boxstateUrl ?>' method="post" target="_blank">
                <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
                <label class="admin__field-label">Change Status </label>
                <select name="change_status" id="channel-id" class="admin__control-select sales-type-dropdown">
                    <option value="processing">processing</option>
                    <option value="pending">pending</option>
                    <option value="printed">printed</option>
                    <option value="shipped">shipped</option>
                    <option value="vendorPrint">vendorPrint</option>
                    <option value="invoiced">invoiced</option>
                    <option value="cancelled">cancelled</option>

                </select>
                <input style="height: 32px;width: 37%;" type="text" name="box_ids">
                <input type="submit" value="Submit" class="action-default scalable">
            </form>
        </div>
    </div>
    <!--------Change  Ship Method-------------------------------------->
    <div class="change-ship-method status-update">
        <div class="title">
            <h2>Change Ship Method </h2>
            <span>( Enter comma separated box id ex: 2344_1,2345_1 )</span>
        </div>
        <div class="delete-input-box" style="margin-top: 1%;">
            <form action='<?= $UpdateShipUrl ?>' method="post" target="_blank">
                <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
                <label class="admin__field-label">Change ship method </label>
                <select name="change_ship_method" id="channel-id" class="admin__control-select sales-type-dropdown">
                    <?php foreach ($allMethod as $value) { ?>
                        <option value="<?php echo $value; ?>"><?php echo $value; ?></option>
                    <?php } ?>
                </select>

                <input style="height: 32px;width: 37%;" type="text" name="box_ids">
                <input type="submit" value="Update label" class="action-default scalable">
            </form>
        </div>
    </div>
    <!--------Update  label Url---------------------------------------->
    <div class="update-label-url status-update">
        <div class="row delete-order">
            <div class="title">
                <h2>Update Box Label </h2>
                <span>( Enter comma separated box ids ex: 2344_1,2344_1 )</span>
            </div>
            <div class="delete-input-box" style="margin-top: 1%;">
                <form action='<?= $UpdateLabelUrl ?>' method="post" target="_blank">
                    <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
                    <input style="height: 32px;width: 37%;" type="text" name="box_ids">
                    <input type="submit" value="Update label" class="action-default scalable">
                </form>
            </div>
        </div>
    </div>
    <!------------------------Change Vendor Location----------------------------->
    <div class="change-vendor-location status-update">
        <div class="title">
            <h2>Vendor Change Location </h2>
            <span>(Enter comma separated box ids ex: 959_1,959_2 )</span>
        </div>
        <div class="delete-input-box" style="margin-top: 1%;">
            <form action='<?= $updateVendorLocationUrl ?>' method="post" target="_blank">
                <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
                <label class="admin__field-label">All Vendor </label>
                <select name="vendor_name" id="channel-id" class="admin__control-select sales-type-dropdown">
                    <?php foreach ($allVendor as $key => $value) { ?>
                        <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                    <?php } ?>
                </select>
                <label class="admin__field-label">All Location</label>
                <select name="change_vendor_loc_form" id="channel-id" class="admin__control-select sales-type-dropdown">
                    <?php foreach ($allVendorLocFarms as $key => $values) { ?>
                        <option value="<?php echo $key; ?>"><?php echo $values; ?></option>
                    <?php } ?>
                </select>

                <input style="height: 32px;width: 37%;" type="text" name="box_ids">
                <input type="submit" value="Submit" class="action-default scalable">
            </form>
        </div>
    </div>

</div>
<script type="text/javascript">
    require([
        'jquery',
        'mage/calendar'
    ], function ($) {
        $(document).ready(function () {
            $('.date-picker').datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true
            });
        });
    });
</script>
