<?php
/**
 * @var $block Stores;
 */

use Flordelcampo\Customer\Block\Adminhtml\CustomerEdit\Tab\Stores;

$customer = $block->getCustomer();
$customerId = $block->getCustomerId();
$logisticSaveUrl = $block->getLogisticSaveUrl();
$logisticUpdateUrl = $block->getLogisticUpdateUrl();
$storeRetrievalUrl = $block->getStoreRetrieveUrl();
$storeUpdateUrl = $block->getStoreUpdateUrl();
$preferenceAddUrl = $block->getVendorPreferenceAddUrl();
$preferenceUpdateUrl = $block->getVendorPreferenceUpdateUrl();

?>
<style>
    .customer-store {
        float: left;
        margin-right: 4%;
        margin-bottom: 2%;
        cursor: pointer;
        padding: 2% 3% 1% 4%;
        background: lightcyan;
        border: 1px solid gainsboro;
    }

    form#customer-store-data table {
        width: 80%;
    }

    input#street {
        width: 100%;
    }

    .admin__scope-old .customer-information .customer-stores-setting {
        float: left;
        width: 79.5%;
    }

    .active {
        background-color: black;
        color: #fff;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 2px solid none;
        background-color: #f1f1f1;
        margin-bottom: 1%;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    .tab button:hover {
        background-color: #ddd;
    }

    .tab button.active {
        background-color: #ccc;
        color: black;
    }

    .vendor-preference-table-head table {
        width: 100% !important;
    }

</style>
<div class="fieldset-wrapper customer-information">
    <div class="fieldset-wrapper-title">
        <span class="title"><?php /* @escapeNotVerified */
            echo __('Customer Stores') ?></span>
    </div>
    <div class="fieldset-wrapper-body">
        <?php foreach ($customer->getAddresses() as $address): ?>
            <div class="customer-store" id="<?= $address->getId() ?>">
                <p><?= $address->getName(); ?></p>
                <p><?= $address->getCompany(); ?></p>
                <p><?= implode(',', $address->getStreet()) ?></p>
                <p><?= $address->getCity() . ' ' . $address->getRegion(); ?></p>
                <p><?= $address->getTelephone(); ?></p>
            </div>
        <?php endforeach; ?>
    </div>
</div>
<div class="fieldset-wrapper customer-information tab-wrapper">
    <div class="tab">
        <button class="tab-links" id="first-tab-content" data-tab-id="local-settings">Local Settings</button>
        <button class="tab-links" data-tab-id="logistic-setting">Logistics Settings</button>
        <button class="tab-links" data-tab-id="vendor-preference-setting">Vendor Preference</button>
    </div>
    <div id="local-settings" class="tab-content">
        <button style="margin: 1% 0%;" type="button" class="save primary update-store">Update
            Store
        </button>
        <form id="customer-store-form">
            <div class="local-setting-data"></div>
        </form>
    </div>

    <div id="logistic-setting" class="tab-content">
        <button type="button" style="margin-bottom: 1%;" class="save primary add-new-logistic-button">Add New
            Logistic
        </button>
        <form id="logistic-add-new-form">
            <div class="add-new-logistic-container"></div>
            <input type="hidden" value="" name="logistic_new_days" id="logistic_new_days"/>
        </form>
        <div class="existing-logistic-container"></div>
    </div>
    <div id="vendor-preference-setting" class="tab-content">
        <div class="vendor-preference-table-head">
            <table class="admin__table-secondary" id="vendor-preference-table">
                <thead>
                <tr>
                    <th>Vendor Name</th>
                    <th>Category Name</th>
                    <th>Customer Store Visibility</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="vendor-preference-table-body">

                </tbody>
            </table>

        </div>
    </div>


</div>
<script type="text/javascript">
    let STORE_RETRIEVE_URL = '<?= $storeRetrievalUrl; ?>';
    let STORE_UPDATE_URL = '<?= $storeUpdateUrl; ?>';
    let LOGISTIC_SAVE_URL = '<?= $logisticSaveUrl; ?>';
    let LOGISTIC_UPDATE_URL = '<?= $logisticUpdateUrl; ?>';
    let PREFERENCE_ADD_URL = '<?= $preferenceAddUrl; ?>';
    let PREFERENCE_UPDATE_URL = '<?= $preferenceUpdateUrl; ?>';
    let customerId = '<?= $customerId; ?>';
    require(['jquery'], function ($) {
        $(document).ready(function () {
            $('.tab-content,.tab').hide();
        });
        $(".customer-store").click(function (e) {
            /* hide tab content and remove active class*/
            $('.tab-content,.tab').hide();
            $(".tab-links").removeClass("active");
            $(this).addClass("active");
            $(".customer-store").not(this).removeClass("active");

            /* Remove all tab content initially*/
            $('.local-setting-data').empty();
            $('.add-new-logistic-container').empty();
            $('.existing-logistic-container').empty();
            $('.existing-logistic-container').empty();
            $('.vendor-preference-table-body').empty();

            let addressId = $(this).attr("id");
            $.ajax({
                url: STORE_RETRIEVE_URL,
                type: 'POST',
                dataType: 'json',
                data: {
                    customerId: customerId,
                    addressId: addressId
                },
                showLoader: true,
                complete: function (response) {
                    let resultData = response.responseJSON;
                    if (resultData.status === true) {
                        let storeHtml = resultData.store;
                        let logisticFormHtml = resultData.newLogisticForm;
                        let logisticDataHtml = resultData.logisticData;
                        let addNewPreferenceFormHtml = resultData.newVendorPreferenceForm;
                        let PreferenceDataHtml = resultData.vendorPreferenceData;
                        $('#vendor-preference-table > tbody:last-child').append(PreferenceDataHtml);
                        $('#vendor-preference-table > tbody:last-child').append(addNewPreferenceFormHtml);
                        $(".local-setting-data").append(storeHtml);
                        $(".add-new-logistic-container").append(logisticFormHtml);
                        $(".existing-logistic-container").append(logisticDataHtml);
                        // $("#vendor-preference-setting").append('vendor-preference-setting');
                        $('.tab,#local-settings').show();
                        $('#first-tab-content').addClass("active");
                        ajaxComplete();
                    } else {
                        alert(resultData.message);
                    }

                },
                error: function (xhr, status, errorThrown) {
                    alert("Error Happen");
                }
            });
        });

        $(".tab-links").click(function (e) {
            $('.tab-content').hide();
            $(this).addClass("active");
            $(".tab-links").not(this).removeClass("active");
            let currentTabId = $(this).data('tab-id');
            $('#' + currentTabId).show();
        });

        $(".update-store").click(function (e) {

            let formData = $('#customer-store-form').serializeArray();
            $.ajax({
                url: STORE_UPDATE_URL,
                type: 'POST',
                dataType: 'json',
                data: formData,
                showLoader: true,
                complete: function (response) {
                    let resultData = response.responseJSON;
                    if (resultData.status === true) {
                        location.reload();
                    } else {
                        alert('Error !!')
                    }
                }
            });

        });
        $(".add-new-logistic-button").click(function (e) {
            $('.customer-logistic-new-form').show();
        });

        function ajaxComplete() {
            $(".save-logistic-button").click(function (e) {

                let selCheckBox = [];
                $("input:checkbox[class=logistic-checkbox]:checked").each(function () {
                    selCheckBox.push($(this).val());
                });
                let selectedValues = selCheckBox.join(',');
                $('#logistic_new_days').val(selectedValues);
                let formData = $('#logistic-add-new-form').serializeArray();
                $.ajax({
                    url: LOGISTIC_SAVE_URL,
                    type: 'POST',
                    dataType: 'json',
                    data: formData,
                    showLoader: true,
                    complete: function (response) {
                        let resultData = response.responseJSON
                        if (resultData.status === true) {
                            location.reload();
                        } else {
                            alert('Error !!')
                        }
                    }
                });
            });

            $(".update-logistic-button").click(function (e) {
                let currentEntityId = $(this).data('logistic-entity-id');
                let selCheckBox = [];
                $("input:checkbox[class=logistic-checkbox-" + currentEntityId + "]:checked").each(function () {
                    selCheckBox.push($(this).val());
                });
                let selectedValues = selCheckBox.join(',');
                $('#logistic-days-' + currentEntityId).val(selectedValues);
                let formData = $('#logistic-update-form-' + currentEntityId).serializeArray();
                $.ajax({
                    url: LOGISTIC_UPDATE_URL,
                    type: 'POST',
                    dataType: 'json',
                    data: formData,
                    showLoader: true,
                    complete: function (response) {
                        let resultData = response.responseJSON
                        if (resultData.status === true) {
                            location.reload();
                        } else {
                            alert('Error !!')
                        }
                    }
                });
            });

            $(".add-vendor-preference-button").click(function (e) {
                let inputs = $(".new-vendor-preference");
                let preferenceData = [];
                for (let i = 0; i < inputs.length; i++) {
                    let val = '';
                    if (i === 1) {
                        let multi_selAr = $(inputs[i]).val();
                        if (multi_selAr !== null) {
                            val = multi_selAr.join(',');
                        }
                    } else {
                        val = $(inputs[i]).val();
                    }
                    let form_name = $(inputs[i]).attr('name');
                    preferenceData.push({
                        name: form_name,
                        value: val
                    });
                }
                $.ajax({
                    url: PREFERENCE_ADD_URL,
                    type: 'POST',
                    dataType: 'json',
                    data: preferenceData,
                    showLoader: true,
                    complete: function (response) {
                        let resultData = response.responseJSON
                        if (resultData.status === true) {
                            location.reload();
                        } else {
                            alert('Error !!')
                        }
                    }
                });
            });
            $(".update-vendor-preference-button").click(function (e) {
                let currentEntityId = $(this).data('pref-entity-id');
                let inputs = $(".update-vendor-preference-" + currentEntityId);
                let updatePreferenceData = [];
                for (let i = 0; i < inputs.length; i++) {
                    let val = '';
                    if (i === 1) {
                        let multi_selAr = $(inputs[i]).val();
                        if (multi_selAr !== null) {
                            val = multi_selAr.join(',');
                        }
                    } else {
                        val = $(inputs[i]).val();
                    }
                    let form_name = $(inputs[i]).attr('name');
                    updatePreferenceData.push({
                        name: form_name,
                        value: val
                    });
                }
                $.ajax({
                    url: PREFERENCE_UPDATE_URL,
                    type: 'POST',
                    dataType: 'json',
                    data: updatePreferenceData,
                    showLoader: true,
                    complete: function (response) {
                        let resultData = response.responseJSON
                        if (resultData.status === true) {
                            location.reload();
                        } else {
                            alert('Error !!')
                        }
                    }
                });

            });

        }

    });
</script>