<?php
/**
 * @var Ups $block ;
 */

use Flordelcampo\Dashboards\Block\Ups;

$shipFromDate = $block->shipFromDate();
$shipToDate = $block->shipToDate();
$vendorsList = $block->getAllVendors();
$allStoreList = $block->getAllStores();
$upsInfoUrl = $block->getUpsInfoUrl();
$uploadUrl = $block->getUploadUrl();
$cronUrl = $this->getBaseUrl() . 'helloworld';
$amazonCancelledUrl = $block->getAmazonCancelledOrderUrl();
$orderDeleteUrl = $block->getDeleteOrderUrl();
$vendorUserId = $block->getVendorUserId();
$disabled = '';
$display = 'block';
$cronDisplay = "none";
if ($vendorUserId > 0) {
    $disabled = 'disabled';
    $display = "none";
}
?>
<div class="row">
    <div class="input-fields ship-from-date">
        <label class="admin__field-label">Ship Date From</label>
        <input type="text" aria-required='true' id="ship-date-from" class="date-picker" value="<?= $shipFromDate ?>">
    </div>
    <div class="input-fields ship-to-date">
        <label class="admin__field-label">Ship Date To</label>
        <input type="text" aria-required='true' id="ship-date-to" class="date-picker" value="<?= $shipToDate ?>">
    </div>
    <div class="input-fields vendor-list">
        <label class="admin__field-label">Select Vendor</label>
        <select <?= $disabled; ?> id="vendor-id" class="admin__control-select vendor-dropdown">
            <?php foreach ($vendorsList as $vendorId => $vendorName) : ?>
                <?php if ($vendorId == '0') { ?>
                    <option value="<?= $vendorId ?>" selected="selected">All</option>
                <?php } elseif ($vendorId == $vendorUserId) { ?>
                    <option value="<?= $vendorId ?>" selected="selected"><?= $vendorName ?></option>
                <?php } else { ?>
                    <option value="<?= $vendorId ?>"> <?= $vendorName ?></option>
                <?php } ?>
            <?php endforeach; ?>
        </select>
    </div>
    <div class="input-fields channel-list">
        <label class="admin__field-label">Channel Partner</label>
        <select id="channel-id" class="admin__control-select vendor-dropdown">
            <?php foreach ($allStoreList as $storeId => $storeCode) : ?>
                <?php if ($storeId != '0') : ?>
                    <?php if ($storeId == '') : ?>
                        <option value="<?= $storeId ?>" selected="selected"><?= $storeCode ?></option>
                    <?php else : ?>
                        <option value="<?= $storeId ?>"><?= $storeCode ?></option>
                    <?php endif; ?>
                <?php endif; ?>
            <?php endforeach; ?>
        </select>
    </div>

    <div class="input-fields submit-button">
        <button id="ups-submit-button" style="background: sandybrown;" type="button"
                class="create-order-button action-default scalable">Submit
        </button>
    </div>
</div>
<div class="row cron-buttons" style="margin-top: 1%;display: <?= $cronDisplay; ?>">
    <div class="input-fields amazon-cron-url" style="border: 1px solid;padding: 6px;">
        <a type="button" href="<?= $cronUrl; ?>" target="_blank" class="button">Amazon Cron</a>
    </div>

    <div class="input-fields amazon-cron-url" style="border: 1px solid;padding: 6px;">
        <a type="button" href="<?= $amazonCancelledUrl; ?>" target="_blank" class="button">Cancelled Order Cron</a>
    </div>

    <div class="input-fields amazon-cron-url" style="border: 1px solid;padding: 6px;">
        <a type="button" href="<?= $orderDeleteUrl; ?>" target="_blank" class="button">Delete Duplicate</a>
    </div>
</div>
<div class="row error" style="display: none;">
    <div id="error-message"></div>
</div>
<div class="row upload-section" style="display: <?= $display; ?>">
    <div class="upload upload-gift-message">
        <form style="display:block" action='<?= $uploadUrl; ?>' method="post"
              enctype="multipart/form-data" target="_blank">
            <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
            <input type="file" class="file-upload-div" name="gift_file" required="required">
            <input type="submit" value="Upload Gift Message" class="action-default scalable">
        </form>
    </div>
    <div class="upload upload-track-id">
        <form style="display:block" action='<?= $uploadUrl; ?>' method="post"
              enctype="multipart/form-data" target="_blank">
            <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
            <input type="file" class="file-upload-div" name="track_file" required="required">
            <input type="submit" value="Upload Track Id" class="action-default scalable">
        </form>
    </div>
    <div class="upload upload-printed-box-id">
        <form style="display:block" action='<?= $uploadUrl; ?>' method="post"
              enctype="multipart/form-data" target="_blank">
            <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
            <input type="file" class="file-upload-div" name="print_status" required="required">
            <input type="submit" value="Upload Printed Boxes" class="action-default scalable">
        </form>
    </div>
    <div class="upload reset-boxes" style="display:none">
        <form action='<?= $block->getUploadUrl(); ?>' method="post" target="_blank">
            <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
            <input type="hidden" id="all_box_ids" name="box_ids" value="">
            <input type="submit" value="Reset" class="action-default scalable">
        </form>
    </div>
</div>
<div class="row ups-data">
    <div class="vendor-processed-data"></div>
</div>
<div class="row table-title" style="margin-top: 5%;display: none;">
    <div class="title"><h2>Vendor SKU wise Data</h2></div>
</div>
<div class="row vendor-sku-data">
    <div class="vendor-sku-wise-data"></div>
</div>

<script type="text/javascript">
    let UPS_INFO_URL = '<?= $upsInfoUrl; ?>';
    console.log(UPS_INFO_URL);
    require([
        'jquery',
        'mage/calendar',
        'mage/url'
    ], function ($) {
        $(document).ready(function () {
            $('.date-picker').datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true
            });
        });

        $("#ups-submit-button").click(function (e) {
            $('.vendor-processed-data,.vendor-sku-wise-data').empty();
            $(".table-title").hide();
            $("#error-message").empty();
            $('.error').hide();

            let inputFilters = {};
            let ship_from_date = $('#ship-date-from').val();
            let ship_to_date = $('#ship-date-to').val();
            let vendor = $('#vendor-id').val();
            let store = $('#channel-id').val();
            inputFilters['ship_date_from'] = ship_from_date;
            inputFilters['ship_date_to'] = ship_to_date;
            inputFilters['vendor_id'] = vendor;
            inputFilters['store_id'] = store;
            $.ajax({
                url: UPS_INFO_URL,
                type: 'POST',
                dataType: 'json',
                data: {
                    'data': inputFilters
                },
                showLoader: true,
                complete: function (response) {
                    let resultData = response.responseJSON;
                    if (resultData.status === true) {
                        let vendorHtml = resultData.html;
                        let vendorSkuHtml = resultData.sku_html;
                        let allBoxIds = resultData.box_ids;
                        $('#all_box_ids').val(allBoxIds);
                        $(".vendor-processed-data").append(vendorHtml);
                        $(".vendor-sku-wise-data").append(vendorSkuHtml);
                        $('.reset-boxes').show();
                        $(".table-title").show();
                    } else {
                        $("#error-message").append(resultData.message);
                        $('.error').show();
                    }
                }
            });
            return false;
        });
    });
</script>
