<?php
//echo"hello";
$blockObj= $block->getLayout()->createBlock('Flordelcampo\ShippingRate\Block\Adminhtml\Shippingrate');
$CalculationType = $blockObj->getCalculationType(); 
$CostType = $blockObj->getCostType();
$CalculationMethod = $blockObj->getCalculationMethod(); 
$CalculationFactor = $blockObj->getCalculationFactor();
$Option = $blockObj->getValueArray7();
//print_r($Option);
//print_r($CalculationFactor);
//print_r($CalculationMethod);
//print_r($CostType);
//print_r($CalculationType); 
?>

<style type="text/css">
    
/* scroll css for logistic  */
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu tr {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

div.scrollmenu tr:hover {
  background-color: #777;
}

</style>
<html>
<body>
<form class="form offer" action="#" id="offer" method="post" data-hasrequired="" data-mage-init='{"validation":{}}'  enctype="multipart/form-data">
    <input type="hidden" name="form_key" value="<?php echo $block->getFormKey() ?>" />
    <div class="scrollmenu1">
            <table style="width:100%">

              <tr>
                <th>Calculation Type</th>
                <th>Conversion Factor</th>
                <th>Cost Type</th> 
                <th>Calculation Method</th>
                <th>Calculation Factor</th>
                <th>Cost</th>
                <th>Active</th>
                <th>Zipcode</th>
                <th>Edit</th>
              </tr>
              <tr>
                
                <td><label for="cars">Calculation Type</label>
                  <select id="cars">
                    <option label="Volvo">Volvo (Latin for "I roll")</option>
                    <option label="Saab">Saab (Swedish Aeroplane AB)</option>
                    <option label="Mercedes">Mercedes (Mercedes-Benz)</option>
                    <option label="Audi">Audi (Auto Union Deutschland Ingolstadt)</option>
                  </select>
                </td>
                
              </tr>
              <tr>
                <td><label class="label" for="field1"><span>Conversion Factor</span></label>
                      <div class="control">
                      
                          <input name="" id="" title="Conversion Factor" value="" class="input-text" type="text" />
                      </div>
                    </td>
                
              </tr>
              <tr>
                <td><label for="cars">Cost Type</label>
                        <select id="cars">
                          <option label="Volvo">Volvo (Latin for "I roll")</option>
                          <option label="Saab">Saab (Swedish Aeroplane AB)</option>
                          <option label="Mercedes">Mercedes (Mercedes-Benz)</option>
                          <option label="Audi">Audi (Auto Union Deutschland Ingolstadt)</option>
                        </select>
                      </td>
  
                
              </tr>
             <tr>
                <td><label for="cars">Calculation Method</label>
                        <select id="cars">
                          <option label="Volvo">Volvo (Latin for "I roll")</option>
                          <option label="Saab">Saab (Swedish Aeroplane AB)</option>
                          <option label="Mercedes">Mercedes (Mercedes-Benz)</option>
                          <option label="Audi">Audi (Auto Union Deutschland Ingolstadt)</option>
                        </select>
                      </td>
                
              </tr>
              <tr>
                <td><label for="cars">Calculation Factor</label>
                    <select id="cars">
                      <option label="Volvo">Volvo (Latin for "I roll")</option>
                      <option label="Saab">Saab (Swedish Aeroplane AB)</option>
                      <option label="Mercedes">Mercedes (Mercedes-Benz)</option>
                      <option label="Audi">Audi (Auto Union Deutschland Ingolstadt)</option>
                    </select>
                  </td>
              </tr>
              <tr>
                <td><label class="label" for="field1"><span>Cost </span></label>
                      <div class="control">
                          <input name="" id="" title="Location Name" value="" class="input-text" type="text" />
                      </div>
                    </td>
              </tr>
              <tr>
                <td><label for="cars">Active</label>
                      <select id="cars">
                        <option label="No">No</option>
                        <option label="Yes">Yes</option>
                      </select>
                    </td>
              </tr>
              <tr>
                <td><label class="label" for="field1"><span>Zipcode </span></label>
            
                <input name="" id="" title="Zipcode " value="" class="input-text" type="text" />
            </td>
                
              </tr>
              <tr>
                <td>
                  <button id="saveLocation" type="button" title="Submit" class="action submit primary">
                        <span>Edit</span>
                    </button>
                  </td>
                
  
              </tr>
  
            </table>
             </div>
        </form>

</body>
</html>






