<?php
/** @var \Flordelcampo\Prodreview\Block\Test\ListTest $block */
?>
<?php $tests = $block->getTests();?>
<?php if ($tests->getSize()) : ?>
<div class="test-toolbar toolbar top"><?php echo $block->getPagerHtml(); ?></div>
<div class="test-list">
    <?php foreach ($tests as $test) : ?>
        <div class="test-item">
            <div class="test-name">
                <a href="<?= $block->escapeUrl($block->getTestUrl($test));?>">
                    <?= $block->escapeHtml($test->getName());?>
                </a>
            </div>
        </div>
    <?php endforeach; ?>
    <div class="test-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php else : ?>
    <?= $block->escapeHtml(__('There are no Tests at this moment')); ?>
<?php endif;?>
