<?php
/** @var \Flordelcampo\Prodreview\Block\Test\ViewTest $block */
?>
<?php $test = $block->getCurrentTest();?>
<div class="test-view">
    <div class="test-name">
        <strong><?= $block->escapeHtml(__('Name')) ?></strong>:
        <?= $block->escapeHtml($test->getName());?>
    </div>
</div>
