.filter.vendor-filter {
    padding-left: 0px;
}

.filter, .map-hg-sku-filter {
    float: left;
    padding: 1% 0 0 1%;
}

label.admin__field-label {
    font-weight: 600;
}

.map-hg-sku-filter {
    width: 22%;
}

.map-hg-sku-filter.hg-qty, .map-hg-sku-filter.hg-submit {
    margin-top: 17px;
}

.row {
    margin-top: 2%;
}

.row.offer-table-container, .row.hard-good-table-container {
    margin-top: 2%;
    max-width: 100%;
    overflow-x: scroll;
}

table {
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 120%;
}

td, th {
    border: 1px solid beige;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: gainsboro;
}

.row-2.add-new-sku {
    padding-left: 0px;
}

.row-2 {
    float: left;
    padding-left: 3%;
}

.download-filter {
    float: left;
    margin-top: 3%;
    padding-left: 3%;
}

.modal-popup._inner-scroll .modal-inner-wrap {
    max-height: 90%;
    width: 50% !important;
}

.upload-filter, .map-sku-filter {
    margin: 3% 0 2% 2%;
}

label.admin__field-label.upload-label, label.admin__field-label.map-sku-label {
    margin-right: 7%;
}

.discard-filter {
    margin: 3%;
}

label.admin__field-label.discard-label {
    margin-right: 2%;
}

select#map-sku-list-dropdown {
    width: 50%;
}

a.button {
    /* -webkit-appearance: button; */
    text-decoration: none;
    /* color: initial; */
    border: 1px solid;
    padding: 5px;
}