<?php
/**
 * @var OrderTransfer $block ;
 */

use Flordelcampo\Dashboards\Block\OrderTransfer;

$helperData = $this->helper(Flordelcampo\Dashboards\Helper\Data::class);

$storeList = $block->getStoresList();
$customerList = $block->getCustomerList();
$itemsCountList = $block->getNumberOfItemsList();
$customerCompanyList = $shippingMethods = $offersData = $allSkuList = [];
$oneSkuOneVendorData = $multiVendorSkuVendorData = [];
$isShowDiv = 'none';
$billingAddress = $shippingAddress = $salesRepAddress = $customer = $salesRep = null;
$tableHeaders = $helperData->getTableHeaders();
if ($this->getRequest()->getParam('order_item')) {
    $isShowDiv = 'block';
    $customerId = $this->getFilterField('create_customer_id');
    $customerCompanyList = $helperData->getCustomerAddressByCustomerId($customerId);
    $billingAddress = $helperData->getCustomerBillingAddress($customerId);
    $shippingAddress = $helperData->getCustomerShippingAddress($customerId);
    $customer = $helperData->getCurrentCustomerById($customerId);
    $salesRep = $helperData->getSalesRepByCustomerId($customerId);
    $shippingMethods = $helperData->getAllShippingMethods();
    /**
     * Get Offer Collection for attribute set vendor type and active
     */
    $offersData = $helperData->getInventoryOfferCollection();
    $oneSkuOneVendorData = $offersData['one_sku_vendor_data'];
    $allSkuOneVendorData = $offersData['all_sku_vendor_data'];
    $multiVendorSkuVendorData = $offersData['sku_with_multi_vendor_data'];
    $skuList = array_keys($oneSkuOneVendorData);
    $allSkuList[''] = 'Please Select';
    foreach ($skuList as $sku) {
        $allSkuList[$sku] = $sku;
    }
}
?>
<div class="row">
    <form id="order_create" action="<?= $block->getUrl('dashboards/ordercreate/index') ?>" method="POST">
        <div class="filters">
            <label class="admin__field-label">Select Store</label>
            <?php $currentStoreId = $this->getFilterField('create_store_id'); ?>
            <select name="create_store_id" class="admin__control-select store-dropdown" title="Store">
                <?php foreach ($storeList as $storeId => $name) : ?>
                    <option value="<?= $storeId ?>" <?= ($storeId == $currentStoreId) ? 'selected' : ''; ?> ><?= $name ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="filters">
            <label class="admin__field-label">Select Items Rows</label>
            <?php $currentItemsCount = $this->getFilterField('create_items_row'); ?>
            <select name="create_items_row" class="admin__control-select items-dropdown">
                <?php foreach ($itemsCountList as $count) : ?>
                    <option value="<?= $count ?>" <?= ($count == $currentItemsCount) ? 'selected' : ''; ?> > <?= $count ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="filters">
            <label class="admin__field-label">Select Customer</label>
            <?php $currentCustomerId = $this->getFilterField('create_customer_id'); ?>
            <select name="create_customer_id" id="customer-id" class="admin__control-select customer-dropdown"
                    title="Customer">
                <?php foreach ($customerList as $id => $name) : ?>
                    <option value="<?= $id ?>" <?= ($id == $currentCustomerId) ? 'selected' : ''; ?> > <?= $name ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="filters store-address-dropdown">
            <div class="row company-name-dropdown" style="display:block">
                <label class="admin__field-label">Select Company</label>
                <select name="create_address_id" id="customer-shipping-company-dropdown"
                        class="admin__control-select company-dropdown" title="Customer Address">
                    <?php $currentAddressId = $this->getFilterField('create_address_id'); ?>
                    <?php $currentCustomerId = $this->getFilterField('create_customer_id'); ?>
                    <?php if ($currentAddressId != null || $currentCustomerId != null) : ?>
                        <?php foreach ($customerCompanyList as $id => $name) : ?>
                            <option value="<?= $id ?>" <?= ($id == $currentAddressId) ? 'selected' : ''; ?> > <?= $name ?></option>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <option value="" selected="selected">Please Select</option>
                    <?php endif; ?>
                </select>
            </div>
        </div>
        <div class="filters">
            <button type="submit" id="create_submit" title="Submit" name="create_button_submit">
                <span>Submit</span>
            </button>
        </div>
    </form>
</div>
<div class="row sales-order-display" style="display: <?= $isShowDiv ?>;margin-top: 3%">
    <div class="sales-order-title" align="center">
        <h1>Sales Order</h1>
    </div>
    <div class="company-logo" align="center">
        <span>Flor Del Campo</span>
    </div>
    <div class="address-body">
        <div class="billing-info info-box">
            <div class="title-box" style="text-align: center;">
                <span class="billing-title">Bill To</span>
            </div>
            <?php if ($billingAddress != null): ?>
                <p><?= $billingAddress->getName(); ?></p>
                <p><?= $billingAddress->getCompany(); ?></p>
                <p><?= implode(',', $billingAddress->getStreet()) ?></p>
                <p><?= $billingAddress->getCity() . ',' . $billingAddress->getRegion() . ',', $billingAddress->getCountryId(); ?></p>
                <p>Phone : <?= $billingAddress->getTelephone(); ?></p>
                <p>Email : <?= ($customer != null) ? $customer->getEmail() : ''; ?></p>
            <?php endif; ?>
        </div>
        <div class="company-info info-box" align="center">
            <p>Vereda Cerca de Piedra</p>
            <p>Chia, Cundinamarca</p>
            <p>Phone 57 310 343 3698</p>
            <p>Customerservice@flordelcampo.com</p>
        </div>
        <div class="sales-rep-info info-box">
            <div class="title-box" style="text-align: center;">
                <span class="billing-title">Sales Person Information</span>
            </div>
            <?php if ($salesRep != null): ?>
                <p>Sales Person Name : <?= $salesRep->getName(); ?></p>
                <p>Phone : <?= $salesRep->getTelephone(); ?></p>
                <p>Email : <?= $salesRep->getEmail(); ?></p>
                <p>Skype : </p>
                <p>Whatsapp :</p>
            <?php endif; ?>
        </div>
    </div>
    <div class="shipping-address-body">
        <div class="shipping-address-box">
            <div class="title-box" style="text-align: center;">
                <span class="billing-title">Ship To</span>
            </div>
            <?php if ($shippingAddress != null): ?>
                <p><?= $shippingAddress->getName(); ?></p>
                <p><?= $shippingAddress->getCompany(); ?></p>
                <p><?= implode(',', $shippingAddress->getStreet()) ?></p>
                <p><?= $shippingAddress->getCity() . ',' . $shippingAddress->getRegion() . ',', $shippingAddress->getCountryId(); ?></p>
                <p>Phone : <?= $shippingAddress->getTelephone(); ?></p>
                <p>Email : <?= ($customer != null) ? $customer->getEmail() : ''; ?></p>
            <?php endif; ?>
        </div>
        <div class="shipping-info-box">
            <div class="title-box" style="text-align: center;">
                <span class="billing-title">Shipping Information</span>
            </div>
            <div class="truck-company-list dropdown-list">
                <label for="truck_company">Trucking Company Name</label>
                <select id="truck_company" class="admin__control-select store-dropdown" title="Trck Company">
                    <?php if (count($shippingMethods) > 0): ?>
                        <?php foreach ($shippingMethods as $Id => $name) : ?>
                            <option value="<?= $name ?>"> <?= $name ?></option>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </select>
            </div>
            <div class="pickup-select dropdown-list">
                <label for="pickup_date">Pickup Date</label>
                <input type="text" autocomplete="off" class="admin__control-text date-picker"  id="pickup_date">
            </div>
            <div class="deliver-date-select dropdown-list">
                <label for="delivery_date">Delivery Date</label>
                <input type="text" autocomplete="off" class="admin__control-text date-picker" id="delivery_date">
            </div>
        </div>
    </div>
</div>
<div class="row offer-item-display" style="display: <?= $isShowDiv ?>;margin-top: 3%">
    <div class="row item-table-container">
        <table class='so-offer-item-table' id='cart-item-table'>
            <thead>
            <tr>
                <?php foreach ($tableHeaders as $column): ?>
                    <th><?= $column; ?></th>
                <?php endforeach; ?>
            </tr>
            </thead>
            <tbody>
            <?php $currentItemsCount = $this->getFilterField('create_items_row'); ?>

            <?php for ($i = 1; $i <= $currentItemsCount; $i++): ?>
                <?php
                $class = $id = "row-" . $i;
                ?>
                <tr>
                    <td>
                        <select id="<?= $class ?>" name="sku" data-row-id="<?= $i ?>" title="SKU"
                                class="admin__control-select sku-dropdown-select <?= $class ?>">
                            <?php
                            foreach ($allSkuList as $key => $sku) : ?>
                                <option value="<?= $key ?>" <?= ($key == '') ? 'selected' : ''; ?> <?= ($key == '') ? 'disabled=disabled' : ''; ?> > <?= $sku ?></option>
                            <?php endforeach; ?>
                        </select>
                    </td>
                    <td>
                        <input id=<?= $id . "-product_name" ?> type="text" class="<?= $class ?>" name="product_name">
                    </td>
                    <td>
                        <select id=<?= $id . "-vendor" ?> name="vendor_id" class="<?= $class ?>">
                            <option value="">Select Vendor</option>
                        </select>
                    </td>
                    <td>
                        <input id=<?= $id . "-po_price" ?> type="text" class="<?= $class ?>" name="po_price">
                    </td>
                    <td>
                        <input id=<?= $id . "-box_type" ?> type="text" class="<?= $class ?>" name="box_type">
                    </td>
                    <td>
                        <input id=<?= $id . "-product_um" ?> type="text" class="<?= $class ?>" name="product_um">
                    </td>
                    <td>
                        <input id=<?= $id . "-pack" ?> type="text" class="<?= $class ?>" name="pack">
                    </td>
                    <td>
                        <input id=<?= $id . "-box_count" ?> type="text" class="<?= $class ?>" name="box_count">
                    </td>
                    <td>
                        <input id=<?= $id . "-qty" ?> type="text" class="<?= $class ?>" title="Qty" name="qty">
                    </td>
                    <td>
                        <input id=<?= $id . "-price" ?> type="text" class="<?= $class ?>" name="price">
                    </td>
                    <td>
                        <input id=<?= $id . "-ext_price" ?> type="text" class="<?= $class ?>" name="ext_price">
                    </td>
                </tr>
            <?php endfor; ?>
            </tbody>
        </table>
    </div>
    <div class="place-order-button" align="center" style="margin-top: 1%">
        <button type="button" class="place-order-submit-button">Place Order</button>
    </div>
</div>
<script type="text/javascript">
    let CUSTOMER_ADDR_URL = '<?= $block->getUrl('create/createorder/address'); ?>';
    let CREATE_ORDER_URL = '<?= $block->getUrl('dashboards/ordercreate/createorder'); ?>';
    let OneSkuVendorData = '<?= json_encode($oneSkuOneVendorData) ?>';
    let MultiVendorSkuData = '<?= json_encode($multiVendorSkuVendorData) ?>';
    let StoreID = '<?= $this->getFilterField('create_store_id'); ?>';
    let CustomerId = '<?= $this->getFilterField('create_customer_id'); ?>';
    let AddressId = '<?= $this->getFilterField('create_address_id'); ?>';
    let NumberOfItemsCount = '<?= $this->getFilterField('create_items_row'); ?>';

    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'mage/backend/validation',
        'prototype',
        'mage/calendar'
    ], function ($) {
        $(document).ready(function () {
            $('.date-picker').datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true
            });
        });
        $(".customer-dropdown").change(function () {
            $('.company-name').hide();
            $('#customer-shipping-company-dropdown')
                .find('option')
                .remove();
            let customerId = $(this).val();
            $.ajax({
                url: CUSTOMER_ADDR_URL,
                type: 'POST',
                dataType: 'json',
                data: {
                    customerId: customerId,
                },
                showLoader: true,
                complete: function (response) {
                    let companyDropdownHtml = response.responseJSON.response;
                    $("#customer-shipping-company-dropdown").append(companyDropdownHtml);
                    $('.company-name-dropdown').show();

                }
            });
        });

        $('#create_submit').click(function (e) {
            e.preventDefault();
            let filters = $$('#order_create input', '#order_create select'), elements = [];
            for (let i in filters) {
                if (filters[i].value === null || filters[i].value === '') {
                    alert('Please Select ' + $(filters[i]).attr('title'));
                    return false;
                }
                if (filters[i].value && filters[i].value.length && !filters[i].disabled) {
                    elements.push(filters[i]);
                }
            }
            if ($('#order_create').valid()) {
                setLocation($('#order_create').attr('action') + 'order_item/' +
                    Base64.encode(Form.serializeElements(elements)) + '/'
                );
            }
            return false;
        });

        $(".sku-dropdown-select").change(function () {
            let current_sku = $(this).val();
            let row_number = $(this).data('row-id');
            let commonRowId = 'row-' + row_number;
            let vendorIdentifier = 'row-' + row_number + '-vendor';
            $('#' + vendorIdentifier).empty();
            let oneSkuOneVendorJson = JSON.parse(OneSkuVendorData);
            let currentSkuRowDataJson = oneSkuOneVendorJson[current_sku];

            let requiredFields = ['product_name', 'po_price', 'box_type', 'product_um', 'pack', 'box_count', 'qty', 'price', 'ext_price'];
            $.each(requiredFields, function (key, value) {
                let currentRowFieldValue = currentSkuRowDataJson[value];
                $('#' + commonRowId + '-' + value).val(currentRowFieldValue);
            });
            let multiVendorSkuJson = JSON.parse(MultiVendorSkuData);
            let currentSkuVendorListJson = multiVendorSkuJson[current_sku];
            $.each(currentSkuVendorListJson, function (key, value) {
                $('#' + vendorIdentifier).append("<option value='" + value.vendor_id + "'>" + value.vendor_name + "</option>");
            });
        });

        $('.place-order-submit-button').click(function (e) {
            let shippingName = $('#truck_company').val();
            let pickupDate = $('#pickup_date').val();
            let deliveryDate = $('#delivery_date').val();
            if(shippingName === 'Please Select'){
                alert('Please select any shipping provider');
                return false;
            }
            if(pickupDate === ''){
                alert('Please select valid pickup date');
                return false;
            }
            if(shippingName === 'deliveryDate'){
                alert('Please select valid delivery date');
                return false;
            }
            let cartItemRows = [];
            for (let i = 1; i <= NumberOfItemsCount; i++) {
                let inputs = $(".row-" + i);
                let currentRowData = {};
                for (let j = 0; j < inputs.length; j++) {
                    let attr_name = $(inputs[j]).attr('name');
                    let value = $(inputs[j]).val();
                    let title = $(inputs[j]).attr('title');
                    if (attr_name === 'sku' || attr_name === 'qty') {
                        if (value === '' || value === null) {
                            alert('Please select ' + title + ' at row #' + i);
                            return false;
                        }
                    }
                    currentRowData[attr_name] = value;
                }
                cartItemRows.push(currentRowData);
            }
            let inputItems = {};
            inputItems['customer_id'] = CustomerId;
            inputItems['store_id'] = StoreID;
            inputItems['shipping_address_id'] = AddressId;
            inputItems['shipping_name'] = shippingName;
            inputItems['pickup_date'] = pickupDate;
            inputItems['delivery_date'] = deliveryDate;
            inputItems['items'] = cartItemRows;
            $.ajax({
                url: CREATE_ORDER_URL,
                type: 'POST',
                dataType: 'json',
                data: inputItems,
                showLoader: true,
                complete: function (response) {
                    let resultData = response.responseJSON;
                    if (resultData.status === true) {
                        alert(resultData.message);
                        location.reload();
                    } else {
                        alert(resultData.message);
                    }
                }
            });
        });
    });

</script>