.input-fields {
    display: inline-block;
    float: left;
    margin-left: 1%;
}
.row.ups-data {
    margin-top: 2%;
}
.row.upload-section {
    margin-top: 2%;
}
.upload {
    display: inline-block;
}
.upload-track-id {
    margin-left: 0%;
}
.upload.reset-boxes {
    margin-left: 0%;
}
.file-upload-div{
    width: 42%;
}