<?php

/**
 * @var Index $block ;
 */

use Flordelcampo\VendorInventory\Block\Adminhtml\Index\Index;

$tableHeaders = $block->getHardGoodTableHeaders();
$hardGoodProductsCollection = $block->getHardGoodProductCollection();
$allProductsCollection = $block->getAllProductCollection();
$hardGoodMappedCollection = $block->getHardGoodMappedCollection();
$yesOrNoArray = $block->getYesOrNoArray();
?>
<div class="row filter-fields-container" style="display: none">
    <form id="hard_good_form" action="<?= $block->getUrl('vendorinventory/hardgood/home') ?>" method="POST">
        <input type="hidden" name="form_key" value="<?= $block->getFormKey() ?>"/>
    </form>
    <div class="filter product-sku-filter">
        <?php $currentSkuTerm = $this->getFilterField('sku'); ?>
        <label class="admin__field-label">SKU</label>
        <input type="text" name="product_sku" value="<?= $currentSkuTerm ?>" class="admin__control-text">
    </div>
    <div class="filter">
        <button type="submit" id="submit" title="Submit" name="button_submit">
            <span>Show Mapped Products</span>
        </button>
    </div>
</div>
<div class="row map-hard-good-container">
    <div align="left">
        <h2>Map product to hard good products</h2>
    </div>
    <form id="map-hg-sku-form"
          target="_blank"
          action="<?= $block->getUrl('vendorinventory/hardgood/maphard'); ?>"
          method="POST">
        <input type="hidden" name="form_key" value="<?= $block->getFormKey() ?>"/>
        <div class="map-hg-sku-filter">
            <label class="admin__field-label  map-sku-label">Select Product</label>
            <select name="product_sku" required="required" class="admin__control-select">
                <?php foreach ($allProductsCollection as $product) : ?>
                    <option value="<?= $product->getSku() ?>"> <?= $product->getSku() . ' - ' . $product->getName() ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="map-hg-sku-filter">
            <label class="admin__field-label  map-sku-label">Select Hard Good Product</label>
            <select name="hg_product_sku" required="required" class="admin__control-select">
                <?php foreach ($hardGoodProductsCollection as $product) : ?>
                    <option value="<?= $product->getSku() ?>"> <?= $product->getSku() . ' - ' . $product->getName() ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="map-hg-sku-filter hg-qty">
            <label class="admin__field-label">Qty</label>
            <input type='text' autocomplete="off" required="required" class='date-picker admin__control-text'
                   name='qty'/>
        </div>
        <div class="map-hg-sku-filter hg-submit">
            <button type="submit" title="Map">
                <span>Map SKU</span>
            </button>
        </div>
    </form>
</div>
<div class="row hard-good-table-container">
    <div align="left">
        <h2>All Mapped Products Grid</h2>
    </div>
    <table class='hard-good-table' id='hard-good-table'>
        <thead>
        <tr>
            <?php foreach ($tableHeaders as $column): ?>
                <th><?= $column; ?></th>
            <?php endforeach; ?>
        </tr>
        </thead>
        <tbody>
        <?php

        if ($hardGoodMappedCollection->getSize() > 0) {
            foreach ($hardGoodMappedCollection as $hardGood): ?>
                <tr>
                    <?php
                    $hardGoodId = $hardGood->getId();
                    $class = "update-hard-good-map-" . $hardGoodId;
                    ?>
                    <input type="hidden" class="<?= $class; ?>" name="entity_id" value="<?= $hardGoodId ?>">
                    <td><?= $hardGoodId; ?></td>
                    <td><?= $hardGood->getData('product_sku'); ?></td>
                    <td><?= $hardGood->getData('product_name'); ?></td>
                    <td><?= $hardGood->getData('hg_product_sku'); ?></td>
                    <td><?= $hardGood->getData('hg_product_name'); ?></td>
                    <td><input type="text" title="Qty" class="<?= $class; ?>" name="qty"
                               value="<?= $hardGood->getData('qty'); ?>">
                    </td>
                    <td>
                        <select name="status" class="admin__control-select <?= $class ?>">
                            <?php
                            $currentStatus = $hardGood->getData('status');
                            foreach ($yesOrNoArray as $id => $label) : ?>
                                <?php if ($id == '2') {
                                    continue;
                                } ?>
                                <option value="<?= $id ?>" <?= ($id == $currentStatus) ? 'selected' : ''; ?> > <?= $label ?></option>
                            <?php endforeach; ?>
                        </select>

                    </td>
                    <td>
                        <button type="button" class="update-hard-good-button" data-hard-good-id='<?= $hardGoodId ?>'>
                            Update
                        </button>
                    </td>
                </tr>
            <?php endforeach;
        }
        ?>
        </tbody>
    </table>

</div>
<script>
    let HG_UPDATE_URL = '<?= $block->getUrl('vendorinventory/hardgood/update');; ?>';
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'mage/backend/validation',
        'prototype',
        'Flordelcampo_VendorInventory/js/jquery.dataTables.min'
    ], function ($, modal) {
        $(document).ready(function () {
            $(document).ready(function () {
                $('#hard-good-table').DataTable({
                    "bPaginate": false
                });

            });
        });
        $('#submit').click(function (e) {
            e.preventDefault();
            $('#hard_good_form').mage('validation', {errorClass: 'mage-error'});
            let filters = $$('#hard_good_form input'),
                elements = [];
            for (let i in filters) {
                if (filters[i].value && filters[i].value.length && !filters[i].disabled) {
                    elements.push(filters[i]);
                }
            }
            if ($('#hard_good_form').valid()) {
                setLocation($('#hard_good_form').attr('action') + 'filters/' +
                    Base64.encode(Form.serializeElements(elements)) + '/'
                );
            }
            return false;
        });
        $(".update-hard-good-button").click(function (e) {
            let currentOfferId = $(this).data('hard-good-id');
            let inputs = $(".update-hard-good-map-" + currentOfferId);
            let updateVendorOfferData = [];
            for (let i = 0; i < inputs.length; i++) {
                let attr_name = $(inputs[i]).attr('name');
                let value = $(inputs[i]).val();
                if (value === null || value === '') {
                    alert('Please Enter ' + $(inputs[i]).attr('title'));
                    return false;
                }
                updateVendorOfferData.push({
                    name: attr_name,
                    value: value
                });
            }
            $.ajax({
                url: HG_UPDATE_URL,
                type: 'POST',
                dataType: 'json',
                data: updateVendorOfferData,
                showLoader: true,
                complete: function (response) {
                    let resultData = response.responseJSON;
                    if (resultData.status === true) {
                        alert(resultData.message);
                        location.reload();
                    } else {
                        alert(resultData.message);
                    }
                }
            });
        });
    });
</script>