<?php

/**
 * @var $block VendorProducts;
 */

use Flordelcampo\VendorRegistration\Block\Adminhtml\VendorLocation\Edit\Tabs\VendorProducts;

$vendorId = $block->getVendorId();
$offersTableHtml = $block->getVendorOffersTableHtml();
?>
<div class="row fieldset-wrapper location-title">
    <div class="fieldset-wrapper-title">
        <span class="title"><?php /* @escapeNotVerified */
            echo __('Vendor Offer Products') ?></span>
    </div>
    <div class="vendor-offer-container" style="max-width: 100%;overflow-x: scroll;">
        <div class="order-items-display-block">
            <?= $offersTableHtml; ?>
        </div>
    </div>
</div>
<script type="text/javascript">
    let OFFER_UPDATE_URL = '<?= $block->getOfferUpdateUrl(); ?>';
    require(
        [
            'jquery',
            'mage/mage'
        ],
        function ($) {

            $(".update-vendor-offer-button").click(function (e) {
                let currentOfferId = $(this).data('offer-id');
                let inputs = $(".update-vendor-offer-" + currentOfferId);
                let updateVendorOfferData = [];
                for (let i = 0; i < inputs.length; i++) {
                    let attr_name = $(inputs[i]).attr('name');
                    let value = $(inputs[i]).val();
                    updateVendorOfferData.push({
                        name: attr_name,
                        value: value
                    });
                }
                $.ajax({
                    url: OFFER_UPDATE_URL,
                    type: 'POST',
                    dataType: 'json',
                    data: updateVendorOfferData,
                    showLoader: true,
                    complete: function (response) {
                        let resultData = response.responseJSON;
                        if (resultData.status === true) {
                            alert(resultData.message);
                            location.reload();
                        } else {
                            alert(resultData.message);
                        }
                    }
                });
            });

        });

</script>