.input-fields {
    display: inline-block;
    float: left;
    margin-left: 1%;
}

.row.ups-data {
    margin-top: 2%;
}

.row.upload-section {
    margin-top: 2%;
}

.upload {
    display: inline-block;
}

.upload-track-id {
    margin-left: 0%;
}

.upload.reset-boxes {
    margin-left: 0%;
}

.file-upload-div {
    width: 42%;
}

.row.container {
    margin-top: 2%;
    border: 1px solid darkgray;
    padding: 1%;
    width: 80%;
}

.status-update {
    margin-top: 3%;
}

.cron {
    float: left;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 1%;
}

.cron > label {
    margin-right: 1%;
    font-weight: 600;
}

.update-order-status {
    margin-top: 2%;
}