.filter {
    float: left;
    margin-left: 0%;
}

label.admin__field-label {
    font-size: medium;
    font-weight: 500;
}

.filter > button {
    margin-left: 20%;
}

.row.item-table-container {
    margin-top: 2%;
    max-width: 100%;
    overflow-x: auto;
}

table {
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid beige;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: gainsboro;
}

label.admin__field-label {
    font-weight: 600;
}

.filters {
    float: left;
    margin-left: 1%;
}

.row.sales-order-display {
    border: 1px solid black;
}

.sales-order-title > h1 {
    font-weight: 800;
}

.sales-order-title {
    margin-top: 1%;
    background: gainsboro;
}

/*.info-box {
    float: left;
}*/
.billing-info.info-box, .shipping-address-box {
    float: left;
    width: 30%;
}

.company-info.info-box {
    margin-top: 2%;
    float: left;
    font-weight: 700;
    width: 39%;
}

.sales-rep-info, .shipping-info-box {
    float: right;
    width: 30%;
}

.billing-info.info-box, .sales-rep-info,.shipping-address-box,.shipping-info-box {
    border: 1px solid black;
    height: 189px;
}

.billing-info > p, .shipping-address-box > p, .sales-rep-info > p, .shipping-info-box > p {
    margin: 1% 0 1% 4%;
}
.dropdown-list{
    margin: 1% 0 1% 4%;
}

.billing-info > span {
    margin-left: 1%;
}

span.billing-title {
    font-weight: bold;
}

.title-box {
    border: 1px solid;
    padding: 1px 0 2px 0;
    background: gainsboro;
}

.company-info.info-box {
    margin-top: 2%;
    font-weight: 700;
}

.company-logo > span {
    font-family: inherit;
    font-size: xx-large;
}

.company-logo {
    margin: 1% 0 2% 0;
}

.shipping-address-body {
    margin-top: 16%;
}
.place-order-submit-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
input.order-transfer-bulk {
    width: 40px;
    height: 20px;
}
.filter.update-all {
    margin-left: 38%;
    width: 15%;
}
input#selectAll {
    width: 20px;
    height: 20px;
}
.dropdown-filters {
    float: left;
    margin-left: 1%;
}
.row.mass-filters {
    margin: 3% 0 1% 0;
}
.all-vendors.dropdown-filters {
    margin-left: 0px;
}