
.row.customer-name-dropdown {
    display: inline-block;
    float: left;
    margin-right: 5%;
}
.create-order-container.file-select {
    margin-top: 3%;
    position: inherit;
}
label.admin__field-label {
    font-weight: 600;
}
.form-content.create-order-block {
    margin: 2% 0% 1%;
}
.order-label {
    width: 15%;
    float: left;
}
input.item-row {
    width: 100%;
}
.order-items-display-block {
    height: 42em;
    overflow-y: auto;
}
.success ,.error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.error{
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
}