<?php
/**
 * @var Ups $block ;
 */

use Flordelcampo\Dashboards\Block\Ups;

$orderCollection = $block->getUpsOrdersCollection();
$allStoreList = $block->getAllStores();
$validateUrl = $block->getValidateUrl();
$validateCronUrl = $block->getValidateAllCronUrl();
$editAddressUrl = $block->getEditAddressUrl();
$saveAddressUrl = $block->getSaveAddressUrl();
?>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    .modal-popup._inner-scroll .modal-inner-wrap {
        width: 40%;
    }

    .modal-slide._inner-scroll .modal-footer {
        margin-right: 24%;
    }

    .input-box {
        padding: 7px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    /*tr:nth-child(even) {
        background-color: #dddddd;
    }*/
</style>
<div class="row error" style="display: none;">
    <div id="error-message"></div>
</div>
<div class="row" style="display: none;">
    <div class="address-edit-section" id="popup-modal">
        <table>
            <tr>
                <th>Particulars</th>
                <th>Address</th>
            </tr>
            <tr>
                <td>First Name</td>
                <td><input type="text" data-label="first_name" id="first_name" class="input-box input-values"/></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" data-label="last_name" id="last_name" class="input-box input-values"/></td>
            </tr>
            <tr>
                <td>Company Name</td>
                <td><input type="text" data-label="company" id="company" class="input-box input-values"/></td>
            </tr>
            <tr>
                <td>Ship Address 1</td>
                <td><input type="text" data-label="street_1" id="street_1" class="input-box input-values"/></td>
            </tr>
            <tr>
                <td>Ship Address 2</td>
                <td><input type="text" data-label="street_2" id="street_2" class="input-box input-values"/></td>
            </tr>
            <tr>
                <td>City</td>
                <td><input type="text" data-label="city" id="city" class="input-box input-values"/></td>
            </tr>
            <tr>
                <td>Zip Code</td>
                <td><input type="text" data-label="post_code" id="post_code" class="input-box input-values"/></td>
            </tr>
            <tr>
                <td>State</td>
                <td><input type="text" data-label="state" id="state" class="input-box input-values"/></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td>
                    <input type="text" data-label="phone" id="phone" class="input-box input-values"/>
                    <input type="hidden" data-label="order_id" id="order_id" class="input-values"/>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="buttons-div">
        <div class="input-fields amazon-cron-url" style="border: 1px solid;padding: 6px;">
            <a type="button" href="<?= $validateCronUrl; ?>" target="_blank" class="button">Validate All</a>
        </div>
    </div>
    <div class="order-data">
        <table class='admin__table-secondary ups-order-data-table'>
            <thead>
            <tr>
                <th scope="col">Order Id</th>
                <th scope="col">Partner Order Id</th>
                <th scope="col">Partner</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
                <th scope="col">Validation Status</th>
                <th scope="col">Validate</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($orderCollection as $order): ?>
                <tr>
                    <?php
                    $shippingAddress = $order->getShippingAddress();
                    $shippingName = $shippingAddress->getFirstName() . ' ' . $shippingAddress->getLastName();
                    $company = $shippingAddress->getCompany();
                    $city = $shippingAddress->getCity();
                    $shippingStreetArray = $shippingAddress->getStreet();
                    $street = implode("<br>", $shippingStreetArray);
                    $postCode = $shippingAddress->getPostcode();
                    $phone = $shippingAddress->getTelephone();
                    $region = $shippingAddress->getRegion();
                    $country = $shippingAddress->getCountryId();
                    $address = $shippingName . '</br>' . $street . '</br>' . $company . ',' . $region . ',' . $postCode . '</br>' . $country . ' T:' . $phone;
                    ?>
                    <td class='value'><?= $order->getIncrementId(); ?></td>
                    <td class='value'><?= $order->getPartnerOrderId(); ?></td>
                    <td class='value'><?= $allStoreList[$order->getStoreId()] ?></td>
                    <td class='value'><?= $address ?></td>
                    <td class='value'>
                        <button style="background: sandybrown;" type="button"
                                data-address-order-id="<?= $order->getId(); ?>"
                                class="edit-address action-default scalable">Edit
                        </button>
                    </td>
                    <td class='value'><?= $order->getUpsAddressStatus() ?></td>
                    <td class='value'>
                        <?php
                        if ($order->getUpsAddressStatus() == 'true') {
                            $disabled = "disabled";
                        } else {
                            $disabled = '';
                        }
                        ?>
                        <button style="background: sandybrown;" <?= $disabled ?> type="button"
                                data-order-id="<?= $order->getId(); ?>"
                                class="validate-address action-default scalable">Validate
                        </button>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>

    </div>
</div>
<script type="text/javascript">
    let VALIDATE_URL = '<?= $validateUrl; ?>';
    let EDIT_URL = '<?= $editAddressUrl; ?>';
    let SAVE_URL = '<?= $saveAddressUrl; ?>';
    require([
        'jquery',
        'Magento_Ui/js/modal/modal'
    ], function ($, modal) {

        let options = {
            type: 'popup',
            responsive: true,
            title: 'Edit Address',
            innerScroll: true,
            buttons: [{
                text: $.mage.__('Save'),
                class: 'mymodal1',
                click: function () {
                    let inputValues = {};
                    $(".input-values").each(function () {
                        inputValues[$(this).data('label')] = $(this).val()
                    });
                    $.ajax({
                        url: SAVE_URL,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            'address_data': inputValues
                        },
                        showLoader: true,
                        complete: function (response) {
                            let resultData = response.responseJSON;
                            if (resultData.status === true) {
                                alert("Address saved");
                                location.reload();
                            } else {
                                this.closeModal();
                                $("#error-message").append(resultData.message);
                                $('.error').show();
                            }
                        }
                    });
                }
            }]
        };
        $(".validate-address").click(function (e) {
            let orderId = $(this).data('order-id');
            $.ajax({
                url: VALIDATE_URL,
                type: 'POST',
                dataType: 'json',
                data: {
                    'order_id': orderId
                },
                showLoader: true,
                complete: function (response) {
                    let resultData = response.responseJSON;
                    if (resultData.status === true) {
                        location.reload();
                    } else {
                        alert(resultData.message);
                    }
                }
            });
        });

        let popup = modal(options, $('#popup-modal'));
        $(".edit-address").click(function (e) {
            $("#error-message").empty();
            $('.error').hide();
            let orderId = $(this).data('address-order-id');
            $.ajax({
                url: EDIT_URL,
                type: 'POST',
                dataType: 'json',
                data: {
                    'order_id': orderId
                },
                showLoader: true,
                complete: function (response) {
                    let resultData = response.responseJSON;
                    if (resultData.status === true) {
                        let addressData = resultData.address;
                        $.each(addressData, function (key, val) {
                            if (key === 'street') {
                                $.each(val, function (id, value) {
                                    $('#' + id).val(value);
                                });
                            } else {
                                $('#' + key).val(val);
                            }
                        });
                        $("#popup-modal").modal("openModal");
                    } else {
                        $("#error-message").append(resultData.message);
                        $('.error').show();
                    }
                }
            });
        });
    });
</script>