<?php
/**
 * @var OrderTransfer $block ;
 */

use Flordelcampo\Dashboards\Block\OrderTransfer;

$itemCollection = $block->getOrderItemCollection();
$tableHeaders = $block->getTableHeaders();
$allVendors = $allFarms = $allShippingMethods = [];
if ($this->getRequest()->getParam('order_item')) {
    $itemIdArray = explode(",", $this->getFilterField('item_id'));
    $itemCollection->addFieldToFilter('item_id', ['in' => $itemIdArray]);
    $allVendors = $block->getAllVendors();
    $allFarms = $block->getAllFarms();
    $allShippingMethods = $block->getAllShippingMethods();
} else {
    $itemCollection = null;
}
/*echo $itemCollection->getSelect();*/
?>
<div class="row">
    <form id="order_transfer" action="<?= $block->getUrl('dashboards/ordertransfer/index') ?>" method="POST">
        <input type="hidden" name="form_key" value="<?= $block->getFormKey() ?>"/>
        <div class="filter">
            <?php $currentItemId = $this->getFilterField('item_id'); ?>
            <label class="admin__field-label">Item Id (comma separated)</label>
            <input type="text" name="item_id" required value="<?= $currentItemId ?>" class="admin__control-text">
        </div>
        <div class="filter">
            <button type="submit" id="submit" title="Submit" name="button_submit">
                <span>Submit</span>
            </button>
        </div>
        <!--<div class="filter update-all">
            <button type="submit" id="update-bulk" title="Update All" name="update_bulk">
                <span>Update All</span>
            </button>
        </div>-->
    </form>
</div>
<div class="row mass-filters">
    <div class="all-vendors dropdown-filters">
        <label class="admin__field-label">Select Vendor</label>
        <select name="mass_vendor" class="admin__control-select">
            <?php
            foreach ($allVendors as $id => $label) : ?>
                <option value="<?= $id ?>"> <?= $label ?></option>
            <?php endforeach; ?>
        </select>
    </div>
    <div class="all-vendor-farms dropdown-filters">
        <label class="admin__field-label">Select Farm</label>
        <select name="mass_vendor_farm" class="admin__control-select">
            <?php
            foreach ($allFarms as $id => $label) : ?>
                <option value="<?= $id ?>"> <?= $label ?></option>
            <?php endforeach; ?>
        </select>
    </div>
    <div class="all-shipping-method dropdown-filters">
        <label class="admin__field-label">Select Shipping Method</label>
        <select name="mass_shipping_id" class="admin__control-select">
            <?php
            foreach ($allShippingMethods as $id => $label) : ?>
                <option value="<?= $label ?>"> <?= $label ?></option>
            <?php endforeach; ?>
        </select>
    </div>
    <div class="dropdown-filters">
        <button type="submit" id="update-bulk" title="Update All" name="update_bulk">
            <span>Update All</span>
        </button>
    </div>
</div>
<div class="note-col row">
    <span class="note">Note : When you click on All checkbox then only this selected values will be updated for items. otherwise each row selected values will get updated.</span>
</div>

<div class="row item-table-container">
    <table class='order-item-table' id='item-table'>
        <thead>
        <tr>
            <?php foreach ($tableHeaders as $column): ?>
                <?php if ($column == ''): ?>
                    <th><?= $column; ?>
                        <input type="checkbox" id="selectAll" class="select-all"><span class="sub"></span> All</input>
                    </th>
                <?php else: ?>
                    <th><?= $column; ?></th>
                <?php endif; ?>
            <?php endforeach; ?>
        </tr>
        </thead>
        <tbody>
        <?php if ($itemCollection != null) : ?>
            <?php foreach ($itemCollection as $item): ?>
                <tr>
                    <?php
                    $itemId = $item->getId();
                    $class = "update-item-vendor-" . $itemId;
                    $currentVendorId = $item->getData('vendor');
                    $currentFarmId = $item->getData('vendor_farm');
                    $currentShipMethod = $item->getData('shipping_method');
                    ?>
                    <input type="hidden" class="<?= $class; ?>" name="item_id" value="<?= $itemId ?>">
                    <input type="hidden" class="<?= $class; ?>" name="current_vendor" value="<?= $currentVendorId ?>">
                    <input type="hidden" class="<?= $class; ?>" name="current_farm" value="<?= $currentFarmId ?>">
                    <input type="hidden" class="<?= $class; ?>" name="current_shipping_method"
                           value="<?= $currentShipMethod ?>">
                    <td><input type='checkbox' value="<?= $itemId ?>"
                               class="order-transfer-bulk"
                               name='update_vendor_checkbox'/></td>
                    <td><?= $itemId; ?></td>
                    <td><?= $item->getData('sku'); ?></td>
                    <td><?= $item->getData('name'); ?></td>
                    <td>
                        <select name="new_vendor" class="admin__control-select <?= $class ?>">
                            <?php
                            foreach ($allVendors as $id => $label) : ?>
                                <option value="<?= $id ?>" <?= ($id == $currentVendorId) ? 'selected' : ''; ?> > <?= $label ?></option>
                            <?php endforeach; ?>
                        </select>
                    </td>
                    <td>
                        <select name="new_vendor_farm" class="admin__control-select <?= $class ?>">
                            <?php
                            foreach ($allFarms as $id => $label) : ?>
                                <option value="<?= $id ?>" <?= ($id == $currentFarmId) ? 'selected' : ''; ?> > <?= $label ?></option>
                            <?php endforeach; ?>
                        </select>
                    </td>
                    <td>
                        <select name="new_shipping_method" class="admin__control-select <?= $class ?>">
                            <?php
                            foreach ($allShippingMethods as $id => $label) : ?>
                                <option value="<?= $label ?>" <?= ($label == $currentShipMethod) ? 'selected' : ''; ?> > <?= $label ?></option>
                            <?php endforeach; ?>
                        </select>
                    </td>
                    <td>
                        <button type="button" class="update-item-vendor" data-item-id='<?= $itemId ?>'>Update Vendor
                        </button>
                    </td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>
        </tbody>
    </table>
</div>

<script>
    let ITEM_UPDATE_URL = '<?= $block->getUpdateVendorUrl(); ?>';
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'mage/backend/validation',
        'prototype',
        'mage/calendar'
    ], function ($, modal) {
        $('#submit').click(function (e) {
            e.preventDefault();
            let filters = $$('#order_transfer input'), elements = [];
            for (let i in filters) {
                if (filters[i].value && filters[i].value.length && !filters[i].disabled) {
                    elements.push(filters[i]);
                }
            }
            if ($('#order_transfer').valid()) {
                setLocation($('#order_transfer').attr('action') + 'order_item/' +
                    Base64.encode(Form.serializeElements(elements)) + '/'
                );
            }
            return false;
        });
        $(".update-item-vendor").click(function (e) {
            let currentOfferId = $(this).data('item-id');
            let inputs = $(".update-item-vendor-" + currentOfferId);
            let isVendorFarmsDifferent = 1;
            let updateVendorOfferData = [];
            let temp = {};
            for (let i = 0; i < inputs.length; i++) {
                let attr_name = $(inputs[i]).attr('name');
                temp[attr_name] = $(inputs[i]).val();
                /*updateVendorOfferData.push({
                    name: attr_name,
                    value: value
                });*/
            }
            updateVendorOfferData.push(temp);
            console.log(updateVendorOfferData);
            $.ajax({
                url: ITEM_UPDATE_URL,
                type: 'POST',
                dataType: 'json',
                data: {
                    data: updateVendorOfferData,
                },
                showLoader: true,
                complete: function (response) {
                    let resultData = response.responseJSON;
                    if (resultData.status === true) {
                        alert(resultData.message);
                        location.reload();
                    } else {
                        alert(resultData.message);
                    }
                }
            });
        });
        $("#update-bulk").click(function (e) {
            e.preventDefault();
            let selCheckBox = [];
            $("input:checkbox[class=order-transfer-bulk]:checked").each(function () {
                selCheckBox.push($(this).val());
            });
            let isAllChecked = 0;
            if ($("#selectAll").prop('checked') == true) {
                isAllChecked = 1;
            }
            if (selCheckBox.length > 0) {
                let updateVendorOfferData = [];
                for (let i = 0; i < selCheckBox.length; i++) {
                    let currentOfferId = selCheckBox[i];
                    let inputs = $(".update-item-vendor-" + currentOfferId);
                    let temp = {};
                    let vendor = null;
                    let vendorFarm = null;
                    let shippingId = null;
                    for (let i = 0; i < inputs.length; i++) {
                        let attr_name = $(inputs[i]).attr('name');
                        let attr_value = $(inputs[i]).val();
                        if (isAllChecked === 1) {
                            vendor = $('select[name="mass_vendor"]').val();
                            vendorFarm = $('select[name="mass_vendor_farm"]').val();
                            shippingId = $('select[name="mass_shipping_id"]').val();
                            if (attr_name === 'new_vendor') {
                                attr_value = vendor;
                            }
                            if (attr_name === 'new_vendor_farm') {
                                attr_value = vendorFarm;
                            }
                            if (attr_name === 'new_shipping_method') {
                                attr_value = shippingId;
                            }
                        }
                        temp[attr_name] = attr_value;
                    }
                    updateVendorOfferData.push(temp);
                }
                console.log(updateVendorOfferData);
                let orderConfirm = confirm('Do you want to update all ?');
                if (orderConfirm) {
                    $.ajax({
                        url: ITEM_UPDATE_URL,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            data: updateVendorOfferData,
                        },
                        showLoader: true,
                        complete: function (response) {
                            let resultData = response.responseJSON;
                            if (resultData.status === true) {
                                alert(resultData.message);
                                location.reload();
                            } else {
                                alert(resultData.message);
                            }
                        }
                    });
                }
            } else {
                alert('Please select item to update');
            }
            //console.log(selCheckBox);
        });

        $("#selectAll").click(function (e) {
            if ($(this).hasClass('allChecked')) {
                $('input[type="checkbox"]', '#item-table').prop('checked', false);
            } else {
                $('input[type="checkbox"]', '#item-table').prop('checked', true);
            }
            $(this).toggleClass('allChecked');
        });
    });
</script>