<?php

/**
 * @var Index $block ;
 */

use Flordelcampo\VendorInventory\Block\Adminhtml\Index\Index;

$activeVendors = $block->getAllActiveDcVendors();
$activeVendorFarms = $block->getAllActiveVendorFarmsForDc();
$attributeSetArray = $block->getAllAttributeSetsArray();
$yesOrNoArray = $block->getYesOrNoArray();
$tableHeaders = $block->getTableHeaders();
$offerCollection = $block->getVendorInventoryCollection();
$vendorFarmsAssociatedArray = $block->getAllVendorFarmsArray();

$vendorDcID = $block->getVendorDcId();
$vendorFarmsHtml = $block->getAllFarmsWithVendorHtml();
$discardReasons = $block->getDiscardReasons();
/**
 * Initial Filter Values
 */
$offerCollection->addFieldToFilter('main_table.vendor_type', $vendorDcID);
if ($this->getRequest()->getParam('filter')) {
    $currentVendorId = $this->getFilterField('vendor_id');
    $attributes = $attributesValues = [];
    if (!empty($currentVendorId)) {
        $attributesValues['main_table.vendor_id'] = ['eq' => $currentVendorId];
    }
    $currentLocationId = $this->getFilterField('loc_id');
    if (!empty($currentLocationId)) {
        $attributesValues['main_table.loc_id'] = ['eq' => $currentLocationId];
    }
    $currentProductTypeId = $this->getFilterField('product_type_id');
    if (!empty($currentProductTypeId)) {
        $attributesValues['main_table.product_type_id'] = ['eq' => $currentProductTypeId];
    }
    $currentActiveId = $this->getFilterField('status');
    if (empty($currentActiveId)) {
        $offerCollection->addFieldToFilter('main_table.status', '0');
        /*  $attributesValues['main_table.status'] = '0';*/
    } else {
        if ($currentActiveId == '1') {
            $offerCollection->addFieldToFilter('main_table.status', $currentActiveId);
            //$attributesValues['main_table.status'] = $currentActiveId;
        }
    }
    $currentProductName = $this->getFilterField('name');
    if (!empty($currentProductName)) {
        $attributesValues['main_table.name'] = ['like' => '%' . trim($currentProductName) . '%'];
    }
    if (count($attributesValues) > 0) {
        $offerCollection->addFieldToFilter(array_keys($attributesValues), array_values($attributesValues));
    }

} else {
    $offerCollection = null;
    $currentActiveId = '1';
    /*$offerCollection->addFieldToFilter('main_table.status', $currentActiveId);*/
}
/*echo $offerCollection->getSelect();*/
if ($offerCollection != null) {
    $offerCollection->getSelect()
        ->joinLeft(
            ['vendor' => 'vendor_registrations'],
            "main_table.vendor_id=vendor.vendor_id",
            [
                'vendor_name' => 'vendor.vendor_name',
                'last_name' => 'vendor.last_name'
            ]
        )->joinLeft(
            ['location' => 'dropship_vendor_locations'],
            "main_table.loc_id=location.loc_id",
            [
                'location_name' => 'location.loc_name'
            ]
        )->joinLeft(
            ['order_item' => 'sales_order_item'],
            "main_table.sku=order_item.sku",
            [
                'qty_shipped' => 'SUM(order_item.qty_ordered)'
            ]
        )->group('main_table.offer_id');
}

?>
<div class="row filter-fields-container">
    <form id="vendor_dc_form" action="<?= $block->getUrl('vendorinventory/inventory/vendordc') ?>" method="POST">
        <input type="hidden" name="form_key" value="<?= $block->getFormKey() ?>"/>
        <div class="filter vendor-filter">
            <label class="admin__field-label">Vendor</label>
            <?php $currentVendorId = $this->getFilterField('vendor_id'); ?>
            <select name="vendor_id" class="admin__control-select vendor-dropdown">
                <?php foreach ($activeVendors as $vendorId => $vendorName) : ?>
                    <option value="<?= $vendorId ?>" <?= ($vendorId == $currentVendorId) ? 'selected' : ''; ?> > <?= $vendorName ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="filter vendor-location-filter">
            <label class="admin__field-label">Vendor Location</label>
            <?php $currentLocationId = $this->getFilterField('loc_id'); ?>
            <select name="loc_id" class="admin__control-select vendor-location-dropdown">
                <?php foreach ($activeVendorFarms as $locationId => $locationName) : ?>
                    <option value="<?= $locationId ?>" <?= ($locationId == $currentLocationId) ? 'selected' : ''; ?> > <?= $locationName ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="filter product-type-filter">
            <label class="admin__field-label">Product Type</label>
            <?php $currentProductTypeId = $this->getFilterField('product_type_id'); ?>
            <select name="product_type_id" class="admin__control-select product-type-dropdown">
                <?php foreach ($attributeSetArray as $id => $label) : ?>
                    <option value="<?= $id ?>" <?= ($id == $currentProductTypeId) ? 'selected' : ''; ?> > <?= $label ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="filter status-filter">
            <label class="admin__field-label">Offer Status</label>
            <select name="status" class="admin__control-select status-dropdown">
                <?php foreach ($yesOrNoArray as $id => $label) : ?>
                    <option value="<?= $id ?>" <?= ($id == $currentActiveId) ? 'selected' : ''; ?> > <?= $label ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="filter product-name-filter">
            <?php $currentProductName = $this->getFilterField('name'); ?>
            <label class="admin__field-label">Product Name</label>
            <input type="text" name="name" value="<?= $currentProductName ?>" class="admin__control-text">
        </div>
        <div class="filter">
            <button type="submit" id="submit" title="Submit" name="button_submit">
                <span>Submit</span>
            </button>
        </div>
    </form>
</div>
<div class="row function-buttons">
    <div class="row-2 add-new-sku">
        <button type="button" id="add-new-sku-button" title="Add New Sku">
            <span>Add New SKU</span>
        </button>
    </div>
    <div class="row-2 download-inventory-csv">
        <button type="button" id="download-iventory-receipt-button" title="Download Inventory Receipt">
            <span>Download Inventory Receipt</span>
        </button>
    </div>
    <div class="row-2 upload-inventory-csv">
        <button type="button" id="upload-iventory-receipt-button" title="Upload Inventory Receipt">
            <span>Upload Inventory Receipt</span>
        </button>
    </div>
    <div class="row-2 cron-class">
        <a type="button" href="<?= $block->getInventoryCronUrl(); ?>" target="_blank" class="button">Inventory Cron</a>
    </div>
</div>
<div class="row offer-table-container">
    <table class='offer-table' id='vendor-offer-table'>
        <thead>
        <tr>
            <?php foreach ($tableHeaders as $column): ?>
                <th><?= $column; ?></th>
            <?php endforeach; ?>
        </tr>
        </thead>
        <tbody>

        <?php
        if ($offerCollection != null) {
            foreach ($offerCollection as $offer): ?>
                <tr>

                    <?php
                    $offerId = $offer->getData('offer_id');
                    $class = "update-vendor-offer-" . $offerId;
                    ?>
                    <input type="hidden" class="<?= $class; ?>" name="offer_id" value="<?= $offerId ?>">
                    <td><?= $offerId; ?></td>
                    <td><?= $offer->getData('sku'); ?></td>
                    <td><?= $offer->getData('name'); ?></td>
                    <td><?= $offer->getData('vendor_name') . ' ' . $offer->getData('last_name'); ?></td>
                    <td><?= $offer->getData('location_name'); ?></td>
                    <td><?= $offer->getData('qty_uploaded'); ?></td>
                    <td><input type="text" title="Qty Received" required="required" min="0" class="<?= $class; ?>"
                               name="qty_confirmed"
                               value="<?= $offer->getData('qty_confirmed'); ?>">
                    </td>
                    <td><?= (int)$offer->getData('qty_shipped'); ?></td>
                    <td>
                        <button type="button" class="discard-offer" data-offer-id='<?= $offerId ?>'>Discard</button>
                    </td>
                    <td><?= $offer->getData('inventory_qty'); ?></td>
                    <td><input type="text" title="EOD Inventory" class="<?= $class; ?>" name="eod_inventory"
                               value="<?= $offer->getData('eod_inventory'); ?>">
                    </td>
                    <td><?= $offer->getData('node_inventory'); ?></td>
                    <td><?= $offer->getData('start_date'); ?></td>
                    <td><?= $offer->getData('expiry_date'); ?></td>
                    <td>
                        <select name="status" class="admin__control-select <?= $class ?>">
                            <?php
                            $currentStatus = $offer->getData('status');
                            foreach ($yesOrNoArray as $id => $label) : ?>
                                <?php if ($id == '2') {
                                    continue;
                                } ?>
                                <option value="<?= $id ?>" <?= ($id == $currentStatus) ? 'selected' : ''; ?> > <?= $label ?></option>
                            <?php endforeach; ?>
                        </select>

                    </td>
                    <td>
                        <button type="button" class="update-offer-button" data-offer-id='<?= $offerId ?>'>Save</button>
                    </td>
                    <td>
                        <button type="button" class="offer-log" data-offer-id='<?= $offerId ?>'>Logs</button>
                    </td>
                </tr>
            <?php endforeach;
        } ?>

        </tbody>
    </table>
</div>
<div id="popup-modal-download-inventory" style="display: none">
    <form target="_blank" id="download-csv-form" action="<?= $block->getUrl('vendorinventory/inventory/template') ?>"
          method="POST">
        <input type="hidden" name="form_key" value="<?= $block->getFormKey() ?>"/>
        <input type="hidden" name="vendor_type" value="<?= $vendorDcID; ?>"/>
        <div class="download-filter download-vendor-filter">
            <label class="admin__field-label">Vendor</label>
            <select name="vendor_id" class="admin__control-select vendor-dropdown">
                <?php foreach ($activeVendors as $vendorId => $vendorName) : ?>
                    <option value="<?= $vendorId ?>"> <?= $vendorName ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="download-filter">
            <button type="submit" title="Download">
                <span>Download Template</span>
            </button>
        </div>
    </form>
</div>
<div id="popup-modal-upload-inventory" style="display: none">
    <form id="upload-csv-form"
          action="<?= $block->getUrl('vendorinventory/inventory/uploadinventory'); ?>"
          enctype="multipart/form-data"
          method="POST">
        <input type="hidden" name="form_key" value="<?= $block->getFormKey() ?>"/>
        <input type="hidden" name="vendor_type" value="<?= $vendorDcID ?>"/>
        <div class="upload-filter upload-vendor-filter">
            <label class="admin__field-label upload-label">Vendor</label>
            <select name="vendor_id" required="required" class="admin__control-select upload-vendor-dropdown">
                <?php foreach ($activeVendors as $vendorId => $vendorName) : ?>
                    <option value="<?= $vendorId ?>"> <?= $vendorName ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="upload-filter upload-vendor-farm-filter">
            <label class="admin__field-label upload-label">Vendor Farm</label>
            <select name="loc_id" required="required" id="upload-vendor-location-list"
                    class="admin__control-select upload-vendor-farm-dropdown">
            </select>
        </div>
        <div class="upload-filter start-date-class">
            <label class="admin__field-label upload-label">Start Date</label>
            <input type='text' autocomplete="off" required="required" class='date-picker admin__control-text'
                   name='start_date'/>
        </div>
        <div class="upload-filter expiry-date-class">
            <label class="admin__field-label upload-label">Expiry Date</label>
            <input type='text' autocomplete="off" required="required" class='date-picker admin__control-text'
                   name='expiry_date'/>
        </div>
        <div class="upload-filter browse-field-class">
            <label class="admin__field-label upload-label">Browse</label>
            <input type="file" class="file-upload-div admin__control-text" name="offer_file" required="required">
        </div>
        <div class="upload-filter">
            <button type="submit" title="Upload">
                <span>Upload</span>
            </button>
        </div>
    </form>
</div>
<div id="discard-popup-modal" style="display: none">
    <form id="discard-form"
          action="<?= $block->getUrl('vendorinventory/inventory/discard'); ?>"
          method="POST">
        <input type="hidden" name="form_key" value="<?= $block->getFormKey() ?>"/>
        <input type="hidden" id="discard_offer_id" name="offer_id" value=""/>
        <input type="hidden" name="vendor_type" value="<?= $vendorDcID ?>"/>
        <div class="discard-filter">
            <label class="admin__field-label discard-label">Discard Quantity</label>
            <input type='number' autocomplete="off" required="required" min="1" class='admin__control-text'
                   name='discard_qty'/>
        </div>
        <div class="discard-filter">
            <label class="admin__field-label discard-label">Reason</label>
            <select name="reason" class="admin__control-select reason-dropdown">
                <?php foreach ($discardReasons as $code => $reason) : ?>
                    <option value="<?= $code ?>"> <?= $reason ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="discard-filter other-reason" style="display: none">
            <label class="admin__field-label discard-label">Other Reason *</label>
            <input type='text' autocomplete="off" value="" id="other-reason"
                   class='admin__control-text'
                   name='other_reason'/>
        </div>
        <div class="discard-filter">
            <button type="submit" title="Discard">
                <span>Discard</span>
            </button>
        </div>
    </form>
</div>
<div id="log-table" style="display: none">
    <div id="offer-log-table"></div>
</div>
<div id="popup-modal-map-sku" style="display: none">
    <form id="map-sku-form"
          action="<?= $block->getUrl('vendorinventory/inventory/mapsku'); ?>"
          enctype="multipart/form-data"
          method="POST">
        <input type="hidden" name="form_key" value="<?= $block->getFormKey() ?>"/>
        <input type="hidden" name="vendor_type" value="<?= $vendorDcID ?>"/>
        <input type="hidden" name="request_type" value="map_sku"/>
        <div class="map-sku-filter  map-sku-all-sku-list-filter">
            <label class="admin__field-label  map-sku-label">Select SKU to Map</label>
            <select name="sku" required="required" id="map-sku-list-dropdown"
                    class="admin__control-select">
            </select>
        </div>

        <div class="map-sku-filter map-sku-vendor-filter">
            <label class="admin__field-label  map-sku-label">Vendor</label>
            <select name="vendor_id" required="required" class="admin__control-select  map-sku-vendor-dropdown">
                <?php foreach ($activeVendors as $vendorId => $vendorName) : ?>
                    <option value="<?= $vendorId ?>"> <?= $vendorName ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="map-sku-filter  map-sku-vendor-farm-filter">
            <label class="admin__field-label  map-sku-label">Vendor Farm</label>
            <select name="loc_id" required="required" id="map-sku-vendor-location-list"
                    class="admin__control-select  map-sku-vendor-farm-dropdown">
            </select>
        </div>
        <div class="map-sku-filter start-date-class">
            <label class="admin__field-label  map-sku-label">Start Date</label>
            <input type='text' autocomplete="off" required="required" class='date-picker admin__control-text'
                   name='start_date'/>
        </div>
        <div class="map-sku-filter expiry-date-class">
            <label class="admin__field-label  map-sku-label">Expiry Date</label>
            <input type='text' autocomplete="off" required="required" class='date-picker admin__control-text'
                   name='expiry_date'/>
        </div>
        <div class="map-sku-filter">
            <button type="submit" title="Upload">
                <span>Map SKU</span>
            </button>
        </div>
    </form>
</div>
<script>
    let OFFER_UPDATE_URL = '<?= $block->getOfferSaveUrl(); ?>';
    let vendorFarmHtmlArray = JSON.parse('<?= json_encode($vendorFarmsHtml); ?>');
    let LOGS_RETRIEVE_URL = '<?= $block->getLogsRetrieveUrl(); ?>';
    let MAP_SKU_LIST_URL = '<?= $block->getMapAllSkuListUrl(); ?>';
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'mage/backend/validation',
        'prototype',
        'mage/calendar',
        'Flordelcampo_VendorInventory/js/jquery.dataTables.min'
    ], function ($, modal) {
        $(document).ready(function () {
            $('.date-picker').datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true
            });
            $(document).ready(function () {
                $('#vendor-offer-table').DataTable({
                    "bPaginate": false
                });

            });
        });

        $('#submit').click(function (e) {
            e.preventDefault();
            $('#vendor_dc_form').mage('validation', {errorClass: 'mage-error'});
            let filters = $$('#vendor_dc_form input', '#vendor_dc_form select'),
                elements = [];
            for (let i in filters) {
                if (filters[i].value && filters[i].value.length && !filters[i].disabled) {
                    elements.push(filters[i]);
                }
            }
            if ($('#vendor_dc_form').valid()) {
                setLocation($('#vendor_dc_form').attr('action') + 'filter/' +
                    Base64.encode(Form.serializeElements(elements)) + '/'
                );
            }
            return false;
        });

        $(".update-offer-button").click(function (e) {
            let currentOfferId = $(this).data('offer-id');
            let inputs = $(".update-vendor-offer-" + currentOfferId);
            let updateVendorOfferData = [];
            for (let i = 0; i < inputs.length; i++) {
                let attr_name = $(inputs[i]).attr('name');
                let value = $(inputs[i]).val();
                /*if (value === null || value === '') {
                    alert('Please Enter ' + $(inputs[i]).attr('title'));
                    return false;
                }*/
                updateVendorOfferData.push({
                    name: attr_name,
                    value: value
                });
            }
            $.ajax({
                url: OFFER_UPDATE_URL,
                type: 'POST',
                dataType: 'json',
                data: updateVendorOfferData,
                showLoader: true,
                complete: function (response) {
                    let resultData = response.responseJSON;
                    if (resultData.status === true) {
                        alert(resultData.message);
                        location.reload();
                    } else {
                        alert(resultData.message);
                    }
                }
            });
        });

        let upload_options = {
            type: 'popup', //slide popup
            responsive: true,
            innerScroll: true,
            title: "Upload Order Receipt Template",
            buttons: [{
                text: $.mage.__('Close'),
                class: '',
                click: function () {
                    this.closeModal();
                }
            }]
        };
        let download_options = {
            type: 'popup', //slide popup
            responsive: true,
            innerScroll: true,
            title: "Download Order Receipt Template",
            buttons: [{
                text: $.mage.__('Close'),
                class: '',
                click: function () {
                    this.closeModal();
                }
            }]
        };
        let discard_options = {
            type: 'popup', //slide popup
            responsive: true,
            innerScroll: true,
            title: "Discard Qty",
            buttons: [{
                text: $.mage.__('Close'),
                class: '',
                click: function () {
                    this.closeModal();
                }
            }]
        };
        let log_options = {
            type: 'popup', //slide popup
            responsive: true,
            innerScroll: true,
            title: "Logs for Current Offer",
            buttons: [{
                text: $.mage.__('Close'),
                class: '',
                click: function () {
                    this.closeModal();
                }
            }]
        }; //popup-modal-map-sku
        let map_sku_options = {
            type: 'popup', //slide popup
            responsive: true,
            innerScroll: true,
            title: "Map SKU and Create Offer",
            buttons: [{
                text: $.mage.__('Close'),
                class: '',
                click: function () {
                    this.closeModal();
                }
            }]
        };


        let popup_upload = modal(upload_options, $('#popup-modal-upload-inventory'));
        $("#upload-iventory-receipt-button").on('click', function () {
            $("#popup-modal-upload-inventory").modal("openModal");
        });

        let popup_download = modal(download_options, $('#popup-modal-download-inventory'));
        $("#download-iventory-receipt-button").on('click', function () {
            $("#popup-modal-download-inventory").modal("openModal");
        });
        let map_sku = modal(map_sku_options, $('#popup-modal-map-sku'));
        $("#add-new-sku-button").on('click', function () {
            $("#map-sku-list-dropdown").empty();
            $.ajax({
                url: MAP_SKU_LIST_URL,
                type: 'POST',
                dataType: 'json',
                data: {
                    'request_type': 'get_sku_list',
                },
                showLoader: true,
                complete: function (response) {
                    let resultData = response.responseJSON;
                    if (resultData.status === true) {
                        let skuHtml = resultData.sku_html;
                        $("#map-sku-list-dropdown").append(skuHtml);
                        $("#popup-modal-map-sku").modal("openModal");
                    } else {
                        alert(resultData.message);
                    }
                }
            });

        });
        $(".map-sku-vendor-dropdown").change(function () {
            let vendorId = $(this).val();
            $('#map-sku-vendor-location-list')
                .find('option')
                .remove();
            let farmHtml = vendorFarmHtmlArray[vendorId];
            if (typeof (farmHtml) === 'undefined') {
                alert("No active farms for selected vendors");
            } else {
                let html = "<option value='' selected='selected'>Select Farm</option>";
                $.each(farmHtml, function (key, value) {
                    html += "<option value=" + key + ">" + value + "</option>";
                });
                $('#map-sku-vendor-location-list').append(html);
            }
        });

        $(".upload-vendor-dropdown").change(function () {
            let vendorId = $(this).val();
            $('#upload-vendor-location-list')
                .find('option')
                .remove();
            let farmHtml = vendorFarmHtmlArray[vendorId];
            if (typeof (farmHtml) === 'undefined') {
                alert("No active farms for selected vendors");
            } else {
                let html = "<option value='' selected='selected'>Select Farm</option>";
                $.each(farmHtml, function (key, value) {
                    html += "<option value=" + key + ">" + value + "</option>";
                });
                $('#upload-vendor-location-list').append(html);
            }
        });

        $(".discard-offer").click(function (e) {
            let currentOfferId = $(this).data('offer-id');
            $('#discard_offer_id').val(currentOfferId);

            let popup_discard = modal(discard_options, $('#discard-popup-modal'));
            $("#discard-popup-modal").modal("openModal");
        });

        $(".reason-dropdown").change(function () {
            let currentReason = $(this).val();
            if (currentReason.toLowerCase() == 'other') {
                $('.other-reason').show();
            } else {
                $('.other-reason').hide();
            }
        });

        $(".offer-log").click(function (e) {
            let currentOfferId = $(this).data('offer-id');
            $("#offer-log-table").empty();
            $.ajax({
                url: LOGS_RETRIEVE_URL,
                type: 'POST',
                dataType: 'json',
                data: {
                    'offer_id': currentOfferId,
                },
                showLoader: true,
                complete: function (response) {
                    let resultData = response.responseJSON;
                    if (resultData.status === true) {
                        let logHtml = resultData.table_html;
                        $("#offer-log-table").append(logHtml);
                        let popup_discard = modal(log_options, $('#log-table'));
                        $("#log-table").modal("openModal");
                    } else {
                        alert(resultData.message);
                    }
                }
            });
        });

    });
</script>