<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "New Password Request for %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var customer.name":"Customer Name"
} @-->
<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                        <div class="background-image"><img src="{{view url='images/email/new_account.png'}}" /></div>
                        <p class="greeting">{{trans "Dear %name," name=$customer.name}}</p>
                        <p>{{trans "There was recently a request to change the password for your account."}}</p>
                        <p>{{trans "If you requested this change then below is your new Password"}}</p>
                        <p>{{trans "New Password : " }}{{var newPassword}}</p>
                        <p>{{trans "Please login to your account using your email id and the above password."}}</p>
                        <p>{{trans "Note:- You can update password of your own choice after login into your account at your My accounts page"}}</p>
                        <p>{{trans "Need More Help?"}} <br> {{trans "Contact us at customerservice@arabellabouquets.com"}}</p>
                        <p class="closing">{{trans "Cheers"}} <br>{{trans "Arabella Team"}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
