<?php
/**
 * @var CreateOrder $block ;
 *
 */

use Flordelcampo\Order\Block\CreateOrder; ?>
<?php
$customerData = $block->getCustomerData();
$orderTemplateUrl = $block->getOrderTemplateURL();
$skuTemplateUrl = $block->getSkuTemplateUrl();
$createOrderUrl = $block->getCreateOrderUrl();
$csvFileValidateUrl = $block->getCheckDataUrl();
$csvFileReadItemUrl = $block->getFileReaderUrl();
$customerCompanyDataUrl = $block->getCustomerCompanyDataUrl();
$placeOrderTableItemsUrl = $block->getPlaceOrderForTableItemsUrl();
?>
<div class="create-order-container customer-select">
    <div class="row customer-name-dropdown" style="display: none">
        <label class="admin__field-label">Select Customer</label>
        <select id="customer-id" class="admin__control-select customer-dropdown">
            <?php $customCount = 1; ?>
            <?php foreach ($customerData as $customer) : ?>
                <?php if ($customCount == 1) : ?>
                    <option value="" selected="selected" disabled="disabled">Please Select</option>
                    <?php $customCount++; else : ?>
                    <option value="<?= $customer['id'] ?>"> <?= $customer['name'] ?></option>
                    <?php $customCount++;endif; ?>
            <?php endforeach; ?>
        </select>
    </div>
    <div class="row company-name-dropdown" style="display:none;">
        <label class="admin__field-label">Select Company</label>
        <select id="customer-shipping-company-dropdown" class="admin__control-select company-dropdown">
        </select>
    </div>
</div>
<div class="create-order-container file-select" style="display: none">
    <div class="file-select-form">
        <div class="order-label">
            <label class="admin__field-label">Create Order By CSV</label><span></span>
        </div>
        <div class="download-csv">
            <a href="<?= $skuTemplateUrl ?>">Download SKU Template</a>
        </div>
        <div class='form-content create-order-block'>
            <form style="display:none" action='<?= $block->getCheckDataUrl(); ?>' method="post"
                  enctype="multipart/form-data" target="_self">
                <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
                <input type="file" name="order_file" required="required">
                <input type="submit" value="Check Data" class="action-default scalable">
            </form>
            <form id="show-order-items-form">
                <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
                <input type="file" id="create-order-file" name="order_file" required="required">
                <input type="hidden" name="customer_id" id="order-customer-id">
                <input type="hidden" name="shipping_id" id="order-shipping-id">
                <input type="submit" class="action-default scalable" value="Show Items"/>
                <button style="display: none;background: sandybrown;" type="button"
                        class="create-order-button action-default scalable">Place Order
                </button>
            </form>
        </div>
        <div class="error">
            <div id="error-message"></div>
        </div>
        <div class="success">
            <div id="success-message"></div>
        </div>
        <div class="customer-order-items-container">
            <div class="order-items-display-block"></div>
            <input type="hidden" id="table-items-count" value=""></input>
        </div>

    </div>
</div>
<script type="text/javascript">
    let CUSTOMER_ADDR_URL = '<?= $customerCompanyDataUrl; ?>';
    let FILE_READER_URL = '<?= $csvFileReadItemUrl; ?>';
    let PLACE_ORDER_URL = '<?= $placeOrderTableItemsUrl; ?>';
    require([
        'jquery',
        'mage/calendar'
    ], function ($) {

        let vendorFarmHtmlArray = '';
        $(document).ready(function () {
            $('.customer-name-dropdown').show();
            $('.company-name-dropdown,.error').hide();
        });

        /*Display store for customer*/
        $(".customer-dropdown").change(function () {
            /*Remove Previous company options and Hide*/
            $('.error,.success').hide();
            $('.company-name ,.file-select').hide();
            $('#customer-shipping-company-dropdown')
                .find('option')
                .remove();
            let customerId = $(this).val();
            $('#order-customer-id').val(customerId);
            $('#order-shipping-id').removeAttr('value');

            $.ajax({
                url: CUSTOMER_ADDR_URL,
                type: 'POST',
                dataType: 'json',
                data: {
                    customerId: customerId,
                },
                showLoader: true,
                complete: function (response) {
                    let companyDropdownHtml = response.responseJSON.response;
                    $("#customer-shipping-company-dropdown").append(companyDropdownHtml);
                    $('.company-name-dropdown').show();

                },
                error: function (xhr, status, errorThrown) {
                    alert("Error Happen");
                }
            });
        });

        /*when user select store*/
        $('.company-dropdown').change(function () {
            if ($(this).val() !== '') {
                $('#order-shipping-id').val($(this).val());
                $('.file-select').show();
            } else {
                $('.file-select').hide();
                $('#order-shipping-id').removeAttr('value');
            }
        });

        /* Bring csv to tabular data*/
        $("#show-order-items-form").submit(function (evt) {
            $("#error-message,#success-message").empty();
            $('.error,.success').hide();
            evt.preventDefault();
            $('.order-items-display-block').empty();
            let formData = new FormData($(this)[0]);
            $.ajax({
                url: FILE_READER_URL,
                type: 'POST',
                data: formData,
                async: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                showLoader: true,
                complete: function (response) {
                    let resultData = response.responseJSON;
                    if (resultData.status === true) {
                        let orderItemsHtml = resultData.html;
                        let itemsCount = resultData.itemsCount;
                        vendorFarmHtmlArray = resultData.vendorFarmsHtml;
                        $(".order-items-display-block").append(orderItemsHtml);
                        $("#table-items-count").val(itemsCount);
                        $(".create-order-button").show();
                        ajaxComplete();
                    } else {
                        $('.success').hide();
                        $("#error-message").append(resultData.message);
                        $('.error').show();
                    }
                },
                error: function (xhr, status, errorThrown) {
                    alert("Error Happen");
                }
            });
            return false;
        });

        /* Ajax complete function */
        function ajaxComplete() {
            $('.date-picker').datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true
            });
            /*Get Vendor Farms*/
            $(".vendor-dropdown").change(function () {
                let vendorId = $(this).val();
                let rowCount = $(this).data('row-count');
                $('#vendor-farm-' + rowCount)
                    .find('option')
                    .remove();
                let farmHtml = vendorFarmHtmlArray[vendorId];
                if (typeof (farmHtml) === 'undefined') {
                    alert("No active farms for selected vendors");
                } else {
                    $('#vendor-farm-' + rowCount).append(farmHtml);
                }

            });

        }

        /*create Order*/
        $(".create-order-button").click(function (e) {
            $("#error-message,#success-message").empty();
            let customerId = $('#order-customer-id').val();
            let storeId = $('#order-shipping-id').val();
            let orderItemsArray = [];
            let itemsCount = $("#table-items-count").val();
            for (let $a = 1; $a <= itemsCount; $a++) {
                let inputs = $(".order-item-row-data-" + $a);
                let oneItem = {};
                for (let i = 0; i < inputs.length; i++) {
                    let field_name = $(inputs[i]).data('label');
                    let field_val = $(inputs[i]).val();
                    oneItem[field_name] = field_val;
                    /*oneItem.push({
                        name: field_name,
                        value: field_val
                    });*/
                }
                orderItemsArray.push(oneItem);
            }
            let orderConfirm = confirm('Do you want to place order ?');
            if (orderConfirm) {
                $.ajax({
                    url: PLACE_ORDER_URL,
                    type: 'POST',
                    async: false,
                    dataType: 'json',
                    data: {
                        customer_id: customerId,
                        store_id: storeId,
                        data: orderItemsArray
                    },
                    showLoader: true,
                    complete: function (response) {
                        let resultData = response.responseJSON
                        if (resultData.status === true) {
                            $('.error').hide();
                            $('.success').show();
                            $("#success-message").append(resultData.message);
                            //location.reload();
                        } else {
                            $('.success').hide();
                            $("#error-message").append(resultData.message);
                            $('.error').show();

                        }
                    }
                });
            } else {
                $('.success,.error').hide();
            }
        });
    });

</script>


