<?php
/**
 * @var CreateOrder $block ;
 *
 */

use Flordelcampo\Order\Block\CreateOrder; ?>
<?php
$customerData = $block->getCustomerData();
$orderTemplateUrl = $block->getOrderTemplateURL();

?>
<div class="create-order-container customer-select">
    <div class="row customer-name" style="display: none" >
        <label class="admin__field-label">Select Customer</label>
        <select id="customer-id" class="admin__control-select customer-dropdown">
            <?php $customCount = 1; ?>
            <?php foreach ($customerData as $customer) : ?>
                <?php if ($customCount == 1) : ?>
                    <option value="" selected="selected" disabled="disabled">Please Select</option>
                    <?php $customCount++; else : ?>
                    <option value="<?= $customer['id'] ?>"> <?= $customer['name'] ?></option>
                    <?php $customCount++;endif; ?>
            <?php endforeach; ?>
        </select>
    </div>
    <div class="row company-name" style="display:none;">
        <label class="admin__field-label">Select Company</label>
        <select id="shipping-id" class="admin__control-select company-dropdown">
        </select>
    </div>
</div>
<div class="create-order-container file-select" style="display: block">
    <div class="file-select-form">
        <div class="order-label">
            <label class="admin__field-label">Create Order By CSV</label><span></span>
        </div>
        <div class="download-csv">
            <a href="<?=$orderTemplateUrl ?>">Download Order Template</a>
        </div>
        <div class='form-content create-order'>
            <form style="display:none" action='<?= $block->getCheckDataUrl(); ?>' method="post" enctype="multipart/form-data" target="_self">
                <input name="form_key" type="hidden" value='<?= $block->getFormKey()?>' >
                <input type="file" name="order_file" required="required">
                <input type="submit" value="Check Data" class="action-default scalable">
            </form>
            <form action='<?= $block->getCreateOrderUrl(); ?>' method="post" enctype="multipart/form-data" target="_blank">
                <input name="form_key" type="hidden" value='<?= $block->getFormKey()?>' >
                <input type="file" name="order_file" required="required">
                <input type="hidden" name="customer_id" id="order-customer-id">
                <input type="hidden" name="shipping_id" id="order-shipping-id">
                <input type="submit" value="Create Order" class="action-default scalable">
            </form>
        </div>
    </div>

</div>
<script type="text/javascript">
    let CUSTOMER_ADDR_URL = '<?= $block->getAddressUrl(); ?>';

    require(['jquery'],function($){

        $(document).ready(function () {
            $('.company-name,.customer-name').hide();
        });

        $( ".customer-dropdown" ).change(function() {
            /*Remove Previous company options and Hide*/
            $('.company-name ,.file-select').hide();
            $('#shipping-id')
                .find('option')
                .remove();
            let customerId = $(this).val();
            $('#order-customer-id').val(customerId);
            $('#order-shipping-id').removeAttr('value');

            $.ajax({
                url: CUSTOMER_ADDR_URL,
                type: 'POST',
                dataType: 'json',
                data: {
                    customerId: customerId,
                },
                showLoader: true,
                complete: function(response)
                {
                    let selectValues=response.responseJSON.response;
                    $.each(selectValues, function(key, value) {
                        $('#shipping-id')
                            .append($("<option></option>")
                                .attr("value",value.id)
                                .text(value.company));
                    });
                    $('.company-name').show();

                },
                error: function (xhr, status, errorThrown)
                {
                    alert("d");
                }
            });
        });

        $('.company-dropdown').change(function () {
            if($(this).val() !== ''){
                $('#order-shipping-id').val($(this).val());
                $('.file-select').show();

            } else {
                $('.file-select').hide();
                $('#order-shipping-id').removeAttr('value');
            }
        });



    });

</script>


