<?php
/**
 * @var Amazon $block ;
 */

use Flordelcampo\Order\Block\Amazon;

$amazonCreateUrl = $block->getAmazonCreateUrl();
$amazonCustomerId = $block->getAmazonCustomerId();
$amazonStoreCode = $block->getAmazonStoreCode();
?>
<div class="create-order-container file-select" style="margin-top: 3%;">
    <div class="file-select-form">
        <div class='form-content'>
            <h2>Upload Amazon Order Template</h2>
            <form id="amazon-order-form">
                <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
                <input type="file" id="amazon-order-file" name="order_file" required="required">
                <input type="hidden" name="customer_id" value="<?= $amazonCustomerId; ?>" id="order-customer-id">
                <input type="hidden" name="store_code" value="<?= $amazonStoreCode; ?>" id="store_code">
                <input type="submit" class="action-default scalable" value="Create Order"/>
            </form>
        </div>
        <div class="error" style="display: none;">
            <div id="error-message"></div>
        </div>
        <div class="success" style="display: none;">
            <div id="success-message"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let CREATE_ORDER_URL = '<?= $amazonCreateUrl; ?>';
    require([
        'jquery'
    ], function ($) {
        $("#amazon-order-form").submit(function (evt) {
            $("#error-message,#success-message").empty();
            $('.error,.success').hide();
            evt.preventDefault();
            let formData = new FormData($(this)[0]);
            $.ajax({
                url: CREATE_ORDER_URL,
                type: 'POST',
                data: formData,
                async: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                showLoader: true,
                complete: function (response) {
                    let resultData = response.responseJSON
                    if (resultData.status === true) {
                        $('.error').hide();
                        $('.success').show();
                        $("#success-message").append(resultData.message);
                    } else {
                        $('.success').hide();
                        $("#error-message").append(resultData.message);
                        $('.error').show();

                    }
                }
            });
        });

    });
</script>

