<?php
/**
 * @var Walmart $block ;
 */

use Flordelcampo\Order\Block\Walmart;

$walMartCreateUrl = $block->getWalMartCreateUrl();
$walMartCustomerId = $block->getWalMartCustomerId();
$walMartStoreCode = $block->getWalMartStoreCode();

?>
<div class="create-order-container file-select" style="margin-top: 3%;">
    <div class="file-select-form">
        <div class='form-content'>
            <h2>Upload Walmart Order Template</h2>
            <form id="wal-mart-order-form">
                <input name="form_key" type="hidden" value='<?= $block->getFormKey() ?>'>
                <input type="file" id="wal-mart-order-file" name="order_file" required="required">
                <input type="hidden" name="customer_id" value="<?= $walMartCustomerId; ?>" id="order-customer-id">
                <input type="hidden" name="store_code" value="<?= $walMartStoreCode; ?>" id="store_code">
                <input type="submit" class="action-default scalable" value="Create Order"/>
            </form>
        </div>
        <div class="error" style="display: none;">
            <div id="error-message"></div>
        </div>
        <div class="success" style="display: none;">
            <div id="success-message"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let CREATE_ORDER_URL = '<?= $walMartCreateUrl; ?>';
    require([
        'jquery'
    ], function ($) {
        $("#wal-mart-order-form").submit(function (evt) {
            $("#error-message,#success-message").empty();
            $('.error,.success').hide();
            evt.preventDefault();
            let formData = new FormData($(this)[0]);
            $.ajax({
                url: CREATE_ORDER_URL,
                type: 'POST',
                data: formData,
                async: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                showLoader: true,
                complete: function (response) {
                    let resultData = response.responseJSON
                    if (resultData.status === true) {
                        $('.error').hide();
                        $('.success').show();
                        $("#success-message").append(resultData.message);
                    } else {
                        $('.success').hide();
                        $("#error-message").append(resultData.message);
                        $('.error').show();

                    }
                }
            });
        });

    });
</script>
